<section class="benefit" >
    <div class="benefit__inner" style="background-image: url(img/eco-bg.png);">
    <div class="container">
       <div class="benefit__wrapper">
            <div class="benefit__box benefit__box-first">
                <div class="box-title benefit-title">
                    Выгоды пользователей платформы
                </div>
                <div class="benefit__card train">
                    <div class="circle-2">
                    <svg class="circle circle-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_linear_100_385)"/>
                        <defs>
                        <linearGradient id="paint0_linear_100_385" x1="-7.91837" y1="-13.1169" x2="20.9381" y2="-13.0591" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#086FF5"/>
                        <stop offset="1" stop-color="#24B1FE"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                    <div class="benefit__card-wrapper">
                        <picture class="benefit__image">
                            <source srcset="./img/sportsman.webp" type="image/webp">
                            <img src="./img/sportsman.png" alt="image">
                    </picture>
                    <div class="benefit__info">
                        <div class="card-title">
                         Спортсмен / Блогер
                        </div>
                        <div class="benefit__card-text">
                         <p>Создавай авторские NFT, повышай уровень узнаваемости, получи новые способы формы общения с поклонниками</p>
                         <p>Получай новые возможности привлечения дополнительных спонсорских средств для реализации спортивной карьеры.</p>
                         <p>Получай роялти при следующих продажах Dynamically changeable NFT</p>
                        </div>
                     </div>
                </div>
            </div>
            <div class="benefit__card coutch">
                <div class="circle-4">
                <svg class="circle circle-4" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="10" fill="url(#paint0_linear_100_385)"/>
                    <defs>
                    <linearGradient id="paint0_linear_100_385" x1="-7.91837" y1="-13.1169" x2="20.9381" y2="-13.0591" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#086FF5"/>
                    <stop offset="1" stop-color="#24B1FE"/>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
                <div class="benefit__card-wrapper">
                    <picture class="benefit__image">
                        <source srcset="./img/rating.webp" type="image/webp">
                        <img src="./img/rating.png" alt="image">
                    </picture>
                    <div class="benefit__info">
                        <div class="card-title">
                            Эксперт / Спортивный коуч
                        </div>
                            <div class="benefit__card-text">
                                 <p>Размещай свои комментарии в NFR и получай монетизацию информационного контента 
                                     (аудио, видео и текстового) с помощью выпуска собственных NFR с уникальным контентом 
                                     и размещения экспертной информации в выставленных на продажу Dynamically changeable NFT 
                                     инструкторов и тренеров
                                </p>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
              <div class="benefit__box benefit__box-second">
               
                <div class="benefit__card benefit__card--right">
                    <div class="circle-1">
                    <svg class="circle circle-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_linear_100_385)"/>
                        <defs>
                        <linearGradient id="paint0_linear_100_385" x1="-7.91837" y1="-13.1169" x2="20.9381" y2="-13.0591" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#086FF5"/>
                        <stop offset="1" stop-color="#24B1FE"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    </div>
                    <div class="benefit__card-wrapper">
                        <picture class="benefit__image">
                            <source srcset="./img/digital.webp" type="image/webp">
                            <img src="./img/digital.png" alt="image">
                    </picture>
                    <div class="benefit__info">
                        <div class="card-title">
                            Автор NFT
                        </div>
                        <div class="benefit__card-text">
                            <p> Устанавливай собственные параметры Dynamically changeable NFT - размер роялти, условия аукциона.</p>
                             <p>Стартовую цену подскажет Оракул. Получай доход при продаже на marketplace уникальных NFT с авторским контентом;
                            </p>
                        </div>
                     </div>
                    </div>
                </div>
                <div class="benefit__card benefit__card--right">
                    <div class="circle-3">
                    <svg class="circle circle-3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_linear_100_385)"/>
                        <defs>
                        <linearGradient id="paint0_linear_100_385" x1="-7.91837" y1="-13.1169" x2="20.9381" y2="-13.0591" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#086FF5"/>
                        <stop offset="1" stop-color="#24B1FE"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                    <div class="benefit__card-wrapper">
                        <picture class="benefit__image">
                            <source srcset="./img/man-2.webp" type="image/webp">
                            <img src="./img/man-2.png" alt="image">
                    </picture>
                    <div class="benefit__info">
                        <div class="card-title">
                            Пользователь
                        </div>
                        <div class="benefit__card-text">
                             <p> Приобретай уникальные NFT и получай доступ к уникальному авторскому контенту.</p>
                             <p>Участвуй в комментировании и ранжировании контента и получай роялти за
                                  простое размещение своего NFR с комментарием в Dynamically changeable NFT.
                            </p>
                        </div>
                     </div>
                    </div>
                </div>
                <div class="benefit__card benefit__card--right">
                    <div class="circle-5">
                    <svg class="circle circle-5" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_linear_100_385)"/>
                        <defs>
                        <linearGradient id="paint0_linear_100_385" x1="-7.91837" y1="-13.1169" x2="20.9381" y2="-13.0591" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#086FF5"/>
                        <stop offset="1" stop-color="#24B1FE"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                    <div class="benefit__card-wrapper">
                        <picture class="benefit__image">
                            <source srcset="./img/talk.webp" type="image/webp">
                            <img src="./img/talk.png" alt="image">
                    </picture>
                    <div class="benefit__info">
                        <div class="card-title">
                            Лидер мнения
                        </div>
                        <div class="benefit__card-text">
                             <p> За счет активных действий на платформе, организовывай 
                                 обсуждения коммуникации о происходящих событиях в спортивной индустрии.
                            </p>
                             <p> С помощью реферальной программы привлекай новых пользователей платформы, 
                                 за что получай дополнительное вознаграждение.
                            </p>
                        </div>
                     </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
    </div>
</section>



