<section class="distribution">
    <div class="distribution__inner" style="background-image: url(img/distribution-bg.png);">
        <div class="container">
            <div data-aos="fade-down" class="title distribution__title">Распределение <br> токенов</div>
            <div class="distribution__wrapper">
                <div data-aos="fade-right" class="token__circle">
                    <div class="token__title">Распределение <br> токенов  ESP</div>
                    <svg class="token__circle-lines" width="559" height="559" viewBox="0 0 559 559" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                        <mask id="path-1-inside-1_206_4" fill="white">
                        <path d="M558.912 286.498C557.134 357.515 528.38 425.19 478.495 475.768C428.61 526.346 361.338 556.031 290.352 558.789L289.442 535.374C354.477 532.847 416.109 505.651 461.812 459.313C507.514 412.976 533.857 350.974 535.487 285.911L558.912 286.498Z"/>
                        </mask>
                        <path d="M558.912 286.498C557.134 357.515 528.38 425.19 478.495 475.768C428.61 526.346 361.338 556.031 290.352 558.789L289.442 535.374C354.477 532.847 416.109 505.651 461.812 459.313C507.514 412.976 533.857 350.974 535.487 285.911L558.912 286.498Z" stroke="#24B1FE" stroke-width="36" mask="url(#path-1-inside-1_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-2-inside-2_206_4" fill="white">
                        <path d="M377.299 17.6689C429.688 37.2372 475.002 72.0715 507.383 117.668C539.763 163.264 557.721 217.526 558.934 273.437L535.507 273.945C534.396 222.722 517.943 173.009 488.278 131.236C458.612 89.462 417.097 57.5481 369.1 39.6204L377.299 17.6689Z"/>
                        </mask>
                        <path d="M377.299 17.6689C429.688 37.2372 475.002 72.0715 507.383 117.668C539.763 163.264 557.721 217.526 558.934 273.437L535.507 273.945C534.396 222.722 517.943 173.009 488.278 131.236C458.612 89.462 417.097 57.5481 369.1 39.6204L377.299 17.6689Z" stroke="#24FED7" stroke-width="36" mask="url(#path-2-inside-2_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-3-inside-3_206_4" fill="white">
                        <path d="M127.529 44.9256C162.11 22.5221 201.217 8.04149 242.049 2.52046C282.881 -3.00057 324.429 0.574579 363.718 12.9899L356.657 35.3337C320.662 23.9592 282.598 20.6838 245.189 25.742C207.78 30.8001 171.952 44.0667 140.27 64.5919L127.529 44.9256Z"/>
                        </mask>
                        <path d="M127.529 44.9256C162.11 22.5221 201.217 8.04149 242.049 2.52046C282.881 -3.00057 324.429 0.574579 363.718 12.9899L356.657 35.3337C320.662 23.9592 282.598 20.6838 245.189 25.742C207.78 30.8001 171.952 44.0667 140.27 64.5919L127.529 44.9256Z" stroke="#2454FE" stroke-width="36" mask="url(#path-3-inside-3_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-4-inside-4_206_4" fill="white">
                        <path d="M0 279.5C3.56527e-06 238.718 8.92449 198.43 26.1472 161.464L47.3879 171.36C31.6091 205.227 23.4328 242.137 23.4328 279.5H0Z"/>
                        </mask>
                        <path d="M0 279.5C3.56527e-06 238.718 8.92449 198.43 26.1472 161.464L47.3879 171.36C31.6091 205.227 23.4328 242.137 23.4328 279.5H0Z" stroke="#9E24FE" stroke-width="36" mask="url(#path-4-inside-4_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-5-inside-5_206_4" fill="white">
                        <path d="M34.6551 144.699C54.5001 108.654 82.0588 77.4349 115.363 53.2713L129.124 72.2379C98.6119 94.3757 73.3637 122.977 55.1825 156.001L34.6551 144.699Z"/>
                        </mask>
                        <path d="M34.6551 144.699C54.5001 108.654 82.0588 77.4349 115.363 53.2713L129.124 72.2379C98.6119 94.3757 73.3637 122.977 55.1825 156.001L34.6551 144.699Z" stroke="#24FE7B" stroke-width="36" mask="url(#path-5-inside-5_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-6-inside-6_206_4" fill="white">
                        <path d="M24.9492 394.93C10.9775 364.119 2.71549 331.028 0.565164 297.265L23.9506 295.776C25.9207 326.708 33.49 357.025 46.2903 385.253L24.9492 394.93Z"/>
                        </mask>
                        <path d="M24.9492 394.93C10.9775 364.119 2.71549 331.028 0.565164 297.265L23.9506 295.776C25.9207 326.708 33.49 357.025 46.2903 385.253L24.9492 394.93Z" stroke="#FAFE24" stroke-width="36" mask="url(#path-6-inside-6_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-7-inside-7_206_4" fill="white">
                        <path d="M78.6597 473.88C60.4688 455.084 45.0063 433.828 32.7249 410.734L53.4141 399.731C64.6659 420.889 78.832 440.363 95.4978 457.583L78.6597 473.88Z"/>
                        </mask>
                        <path d="M78.6597 473.88C60.4688 455.084 45.0063 433.828 32.7249 410.734L53.4141 399.731C64.6659 420.889 78.832 440.363 95.4978 457.583L78.6597 473.88Z" stroke="#966C1C" stroke-width="36" mask="url(#path-7-inside-7_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-8-inside-8_206_4" fill="white">
                        <path d="M152.734 528.599C129.422 516.736 107.891 501.659 88.7703 483.81L104.761 466.681C122.278 483.034 142.004 496.847 163.361 507.715L152.734 528.599Z"/>
                        </mask>
                        <path d="M152.734 528.599C129.422 516.736 107.891 501.659 88.7703 483.81L104.761 466.681C122.278 483.034 142.004 496.847 163.361 507.715L152.734 528.599Z" stroke="#FE2424" stroke-width="36" mask="url(#path-8-inside-8_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-9-inside-9_206_4" fill="white">
                        <path d="M223.645 553.362C203.589 549.272 184.044 542.991 165.36 534.632L174.929 513.242C192.047 520.9 209.954 526.654 228.327 530.402L223.645 553.362Z"/>
                        </mask>
                        <path d="M223.645 553.362C203.589 549.272 184.044 542.991 165.36 534.632L174.929 513.242C192.047 520.9 209.954 526.654 228.327 530.402L223.645 553.362Z" stroke="#391BB3" stroke-width="36" mask="url(#path-9-inside-9_206_4)"/>
                        </g>
                        <g opacity="0.5">
                        <mask id="path-10-inside-10_206_4" fill="white">
                        <path d="M273.481 558.935C261.525 558.678 249.598 557.653 237.773 555.868L241.271 532.697C252.105 534.333 263.032 535.272 273.986 535.508L273.481 558.935Z"/>
                        </mask>
                        <path d="M273.481 558.935C261.525 558.678 249.598 557.653 237.773 555.868L241.271 532.697C252.105 534.333 263.032 535.272 273.986 535.508L273.481 558.935Z" stroke="#2420DC" stroke-width="36" mask="url(#path-10-inside-10_206_4)"/>
                        </g>
                        </svg>
                    </div>
                    <div data-aos="fade-left" class="token__statistics">
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Маркетинг</div>
                                <div class="token__statistics-info__percent">25%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--2"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">1 приватный раунд</div>
                                <div class="token__statistics-info__percent">7%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--3"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Развитие платформы</div>
                                <div class="token__statistics-info__percent">20%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--4"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Консультанты</div>
                                <div class="token__statistics-info__percent">5%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--5"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Команда</div>
                                <div class="token__statistics-info__percent">15%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--6"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Пул ликвидности</div>
                                <div class="token__statistics-info__percent">5%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--7"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Партнеры</div>
                                <div class="token__statistics-info__percent">10%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--8"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Публичное IDO</div>
                                <div class="token__statistics-info__percent">2%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--9"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">2 приватный раунд</div>
                                <div class="token__statistics-info__percent">10%</div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="token__statistics-item">
                            <div class="token__statistics-color color--10"></div>
                            <div class="token__statistics-info">
                                <div class="token__statistics-info__title">Посевной раунд</div>
                                <div class="token__statistics-info__percent">1%</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
