<section class="ecosystem">
    <div class="ecosystem__inner" style="background-image: url(img/system-bg.png);">
        <picture class="fitness-man">
            <source srcset="./img/fitness-man.webp" type="image/webp">
            <img src="./img/fitness-man.png" alt="image">
        </picture>

        <div class="container">
            <div class="title system__title">Экосистема спорта онлайн</div>
            <div class="ecosystem__wrapper">
                <div data-aos="fade-right" class="ecosystem__card ecosystem__card--1">
                    <div class="card-title">
                        Платформа
                    </div>
                    <div class="ecosystem__link">
                        <a href="#">Ecospon.com</a>
                    </div>
                    <div class="ecosystem__text">
                        кабинет, кроссчейн токенизация,
                        кроссчейн кошелек, смарт-контракты, агрегатор оракула
                    </div>
                </div>
                    <div class="desctop-eco logo-eco">
                    <picture class="ecosystem__logo">
                        <source srcset="./img/logo-ecosystem.webp" type="image/webp">
                        <img src="./img/logo-ecosystem.png" alt="logo">
                    </picture>
                </div>
                    <div data-aos="fade-right" class="ecosystem__card ecosystem__card-left ecosystem__card--2">
                        <div class="card-title">
                            Defi Фонд развития спорта
                        </div>

                        <div class="ecosystem__text">
                            Поддержка и развитие спорта, гранты, офлайн и
                            онлайн мероприятия, спонсорство, благотворительность.
                        </div>
                    </div>
                    <svg class="ecosystem-vector" width="845" height="125" viewBox="0 0 845 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1C138.918 150.72 654.113 178.685 844 1" stroke="#1691FA" stroke-width="2"/>
                        </svg>
            </div>

            <div class="ecosystem__wrap">
              <div class="mobile-eco logo-eco">
              <picture class="ecosystem__logo">
                  <source srcset="./img/logo-ecosystem.webp" type="image/webp">
                  <img src="./img/logo-ecosystem.png" alt="logo">
              </picture>
          </div>
                <div data-aos="fade-left" class="ecosystem__card card-right ">
                    <div class="card-title">
                        Социальная сеть
                    </div>

                    <div class="ecosystem__text">
                        Спортивное сообщество, проверка, уведомление,
                        рейтинг и репутация, общение, геймификация, Proof-of-Real-Action, монетизация.
                    </div>
                </div>

                    <div data-aos="fade-left" class="ecosystem__card ecosystem__card-left ecosystem__card--1">
                        <div class="card-title">
                            Маркетплейс NFT
                        </div>
                        <div class="ecosystem__link">
                            <a href="#">Ecospon.io</a>
                        </div>
                        <div class="ecosystem__text">
                            Спортивный Dynamically changeable NFT, аукцион, роялти, галерея
                        </div>
                    </div>

            </div>
            <svg class="blur" width="809" height="1118" viewBox="0 0 809 1118" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.2" filter="url(#filter0_f_100_36)">
                <ellipse cx="747.59" cy="558.949" rx="355.098" ry="139.677" transform="rotate(-13.1772 747.59 558.949)" fill="#1388F8"/>
                </g>
                <defs>
                <filter id="filter0_f_100_36" x="0.355408" y="0.656799" width="1494.47" height="1116.58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_36"/>
                </filter>
                </defs>
                </svg>
        </div>
    </div>
</section>
