<section class="home">
    <div class="home__inner" style="background-image:url(img/main-bg.webp);">
        <div class="container">
            <div data-aos="fade-right" class="main__box">
                <div class="box-title">
                    Мета вселенная онлайн спорта
                </div>
                <div class="main__box-text">
                    Social DeFi Network Platform Online Sports Industry
                </div>
                <div " class="main__box-items">
                        <div class="main__box-item">Proof-of-Real-Action - System</div>
                        <div class="main__box-item">NFTR - Non-fungible Reaction</div>
                        <div class="main__box-item">DC-NFT - Dynamically changeable NFT</div>
                </div>
                <div  class="main__box-text main__box-round">
                    Купить токены в приватном раунде
                </div>
                <div class="main__box-buy">
                    <div class="button">
                        <a class="btn" href="#">Купить</a>
                    </div>
                    <a class="market" href="#">
                    <div class="google-play">

                            <picture>
                                <source srcset="./img/google-play.webp" type="image/webp">

                                <img src="./img/google-play.png" alt="Google Play">
                            </picture>

                    </div>
                </a>
                <a class="store" href="#">
                    <div class="appstore">

                            <picture>
                                <source srcset="./img/app-store.webp" type="image/webp">
                                <img src="./img/app-store.png" alt="App store">
                            </picture>
                        </div>
                        </a>

                </div>
            </div>
        </div>
    </div>
</section>
