<section class="map">
    <div  data-aos="fade-up" class="map__inner" style="background-image: url(img/map-bg.png);">
        <div class="container">
            <div class="point-map">
            <div class="point point--1"></div>
            <div class="point point--2"></div>
            <div class="point point--3"></div>
            <div class="point point--4"></div>
            <div class="point point--5"></div>
            <div class="point point--6"></div>
        </div>
        <div class="map__people">
            <div  data-aos="fade-left" class="person person-1">
                <picture>
                    <source srcset="./img/person-1.webp" type="image/webp">
                    <img src="./img/person-1.png" alt="image">
                </picture>
            </div>
            <div  data-aos="fade-right" class="person person-2">
                <picture>
                    <source srcset="./img/person-2.webp" type="image/webp">
                    <img src="./img/person-2.png" alt="image">
                </picture>
            </div>
            <div  data-aos="fade-left" class="person person-3">
                <picture>
                    <source srcset="./img/person-3.webp" type="image/webp">
                    <img src="./img/person-3.png" alt="image">
                </picture>
            </div>
            <div  data-aos="fade-right" class="person person-4">
                <picture>
                    <source srcset="./img/person-4.webp" type="image/webp">
                    <img src="./img/person-4.png" alt="image">
                </picture>
            </div>
            <div  data-aos="fade-left" class="person person-5">
                <picture>
                    <source srcset="./img/person-5.webp" type="image/webp">
                    <img src="./img/person-5.png" alt="image">
                </picture>
            </div>
        </div>
            <div class="title map__title">Получить больше <br> информации</div>
            <div class="map__items">
                <div class="map__item">
                    <div class="map__item-title">
                        Если хочешь быстро
                    </div>
                    <div class="button">
                        <a class="btn btn-map" href="#">Lite Paper</a>
                    </div>
                </div>
                <div class="map__item">
                    <div class="map__item-title">
                        Если хочешь подробно
                    </div>
                    <div class="button">
                        <a class="btn btn-map" " href="#">White Paper</a>
                    </div>
                </div>
                <div class="map__item">
                    <div class="map__item-title">
                        Телеграмм бот
                    </div>
                    <div class="map__item-social">
                    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.02461 13.5482L8.64415 18.8995C9.18849 18.8995 9.42424 18.6657 9.70695 18.3849L12.259 15.9459L17.5471 19.8186C18.5169 20.3591 19.2002 20.0744 19.4618 18.9264L22.9329 2.66153L22.9339 2.66057C23.2415 1.2269 22.4154 0.666279 21.4705 1.01799L1.06757 8.82936C-0.324888 9.36986 -0.303804 10.1461 0.830862 10.4978L6.04707 12.1203L18.1633 4.5389C18.7335 4.16132 19.2519 4.37024 18.8255 4.74782L9.02461 13.5482Z" fill="url(#paint0_linear_100_660)"/>
                        <defs>
                        <linearGradient id="paint0_linear_100_660" x1="-9.10609" y1="-11.6544" x2="24.078" y2="-11.5747" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#086FF5"/>
                        <stop offset="1" stop-color="#24B1FE"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                    <div class="button">
                        <a class="btn btn-map"" href="#">Задать вопрос</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
