<section class="metrics">
    <svg class="metrics-blur" width="973" height="1118" viewBox="0 0 973 1118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.2" filter="url(#filter0_f_100_38)">
        <ellipse cx="225.59" cy="558.949" rx="355.098" ry="139.677" transform="rotate(-13.1772 225.59 558.949)" fill="#1388F8"/>
        </g>
        <defs>
        <filter id="filter0_f_100_38" x="-521.645" y="0.656738" width="1494.47" height="1116.58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_38"/>
        </filter>
        </defs>
    </svg>
    <div class="container">
        <div class="title">Ключевые метрики</div>
        <div class="metrics__wrapper">
            <div  data-aos="fade-right" class="metrics__item">
                <div class="metrics__item-title">ESP</div>
                <div class="metrics__item-text">Символ токена</div>
            </div>
            <div data-aos="fade-left" class="metrics__item">
                <div class="metrics__item-title">80M ESP</div>
                <div class="metrics__item-text">Первоночальное оборотное предложение</div>
            </div>
            <div data-aos="fade-right" class="metrics__item">
                <div class="metrics__item-title">TRC-20 (TRX)</div>
                <div class="metrics__item-text">Тип токена</div>
            </div>
            <div data-aos="fade-left" class="metrics__item">
                <div class="metrics__item-title">2,4M USD</div>
                <div class="metrics__item-text">Обратная рыночная капитализация при запуске</div>
            </div>
            <div data-aos="fade-right" class="metrics__item">
                <div class="metrics__item-title">1 000 000 000 ESP</div>
                <div class="metrics__item-text">Общее предложение</div>
            </div>
            <div data-aos="fade-left" class="metrics__item">
                <div class="metrics__item-title">20M ESP (2%)</div>
                <div class="metrics__item-text">Публичное предложение на IDO</div>
            </div>
            <div data-aos="fade-right" class="metrics__item">
                <div class="metrics__item-title">7,3M USD</div>
                <div class="metrics__item-text">Всего продажи</div>
            </div>
            <div data-aos="fade-left" class="metrics__item">
                <div class="metrics__item-title">10M USD</div>
                <div class="metrics__item-text">Капитализация по цене IDO</div>
            </div>
        </div>
    </div>
    <svg class="metrics-light" width="852" height="1148" viewBox="0 0 852 1148" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.15" filter="url(#filter0_f_100_26)">
        <ellipse cx="781.196" cy="573.981" rx="389.524" ry="153.219" transform="rotate(-13.1772 781.196 573.981)" fill="#FE8100"/>
        </g>
        <defs>
        <filter id="filter0_f_100_26" x="0.298279" y="0.343262" width="1561.8" height="1147.28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_26"/>
        </filter>
        </defs>
        </svg>
</section>
