<section class="road">
    <div class="road__inner" style="background-image: url(img/road-bg.png);">
        <svg class="road-line" width="100%" height="633" viewBox="0 0 1920 633" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M272 325L1680 323" stroke="#1691FA" stroke-width="2"/>
            <path d="M0 4L1680 1.9999" stroke="url(#paint0_linear_210_7)" stroke-width="2"/>
            <path d="M240 632H1920" stroke="url(#paint1_linear_210_7)" stroke-width="2"/>
            <path d="M1680 2C1859.14 2 1852.84 323 1680 323" stroke="#1691FA" stroke-width="2"/>
            <path d="M240 632C73.0773 632 78.9489 323 240 323" stroke="#1691FA" stroke-width="2"/>
            <defs>
            <linearGradient id="paint0_linear_210_7" x1="840" y1="2.99063" x2="0" y2="2.99063" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1691FA"/>
            <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="paint1_linear_210_7" x1="752" y1="632" x2="1299.5" y2="632.004" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1691FA"/>
            <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
            </linearGradient>
            </defs>
            </svg>
        <div class="container">
            <div class="title title__road">Дорожная карта</div>
            <div class="road__wrapper">

                <div class="road__item">
                    <div class="road__item-title">2019- Q3</div>
                    <div class="road__item-text">
                        Формирование идеи создания многофункциональной платформы включающая
                        в себя сайт мобильные приложения и взаимодействие с блокчейн.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title road__item-title--2">2020 - Q1</div>
                    <div class="road__item-text">
                        Старт разработки платформы с кабинетами пользователей, включающая в себя сайт и мобильные приложения.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title">2020 - Q4</div>
                    <div class="road__item-text">
                        Формирование и детальная проработка идеи создания маркетплейс NFT в индустрии спорта.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title road__item-title--2">2021 - Q2</div>
                    <div class="road__item-text ">
                        Объединение команды экспертов. Анализ существующего рынка NFT в мировой спортивной индустрии. Детализация идеи.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title road__item-title--2">2022- Q2</div>
                    <div class="road__item-text border-text">
                        Переговоры с Федерациями спорта и Ассоциациями.
                        Подключение Ассоциаций и Федераций к платформе. Третий этап продаж токенов (ESP).
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title">2022 - Q1</div>
                    <div class="road__item-text border-text">
                        Разработка версии платформы v2. Разработка версии маркетплейс NFT v1.
                        Переговоры с инструкторами, тренерами ЛОМ и пользователями. Второй этап продаж токенов (ESP).
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title road__item-title--2">2021 - Q4</div>
                    <div class="road__item-text border-text">
                        Подготовка к выходу на публичное представление
                        внутренних токенов платформы. Старт продаж токенов (ESP). Первый этап продаж токена.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title">2021 - Q3</div>
                    <div class="road__item-text border-text">
                        Разработка версии платформы v1. Запуск первых пяти решений на платформе с
                        кабинетами пользователей, включающая в себя сайт и мобильные приложения.
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title">2022 - Q1</div>
                    <div class="road__item-text border-text">
                        Работа с аудиториями. Разработка версии маркетплейс NFT v2.
                        Четвертый этап продаж токенов (ESP).
                    </div>
                </div>
                <div class="road__item">
                    <div class="road__item-title road__item-title--2">2022 - Q4</div>
                    <div class="road__item-text border-text">
                        Тестирование и запуск версии маркетплейс NFT v2. Начало разработки системы фиксации биометрических
                        данных спортсменов и карьерных достижений в виде NFT сохраненных в блокчейн.
                    </div>
                </div>
                <div class="road__item-title--3">2022 - Q4</div>
            </div>
            <div class="road__buy">
                <div class="road__buy-title">Купить токены в приватном раунде</div>
                <div class="button">
                    <a class="btn" href="#">Купить</a>
                </div>
            </div>
        </div>
    </div>
</section>
