<section id="roadmap" class="road">
    <div class="road__inner" style="background-image: url(img/road-bg.png);">
        <svg class="road-line" width="1859" height="633" viewBox="0 0 1859 633" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M179 323L1619 323" stroke="#1691FA" stroke-width="2"/>
            <path d="M-61 4L1619 1.9999" stroke="url(#paint0_linear_302_6)" stroke-width="2"/>
            <path d="M179 632H1859" stroke="url(#paint1_linear_302_6)" stroke-width="2"/>
            <path d="M1619 2C1798.14 2 1791.84 323 1619 323" stroke="#1691FA" stroke-width="2"/>
            <path d="M179 632C12.0773 632 17.9489 323 179 323" stroke="#1691FA" stroke-width="2"/>
            <defs>
            <linearGradient id="paint0_linear_302_6" x1="779" y1="2.99063" x2="-61" y2="2.99063" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1691FA"/>
            <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="paint1_linear_302_6" x1="691" y1="632" x2="1238.5" y2="632.004" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1691FA"/>
            <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
            </linearGradient>
            </defs>
            </svg>
            <svg class="road-line-2" width="1601" height="820" viewBox="0 0 1601 820" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M558 819L1483 819" stroke="url(#paint0_linear_304_18)" stroke-width="2"/>
                <path d="M1483 525C1641.78 525 1636.19 819 1483 819" stroke="#1691FA" stroke-width="2"/>
                <path d="M212 524.582L1482.61 524.582" stroke="#1691FA" stroke-width="2"/>
                <path d="M212 524.582C64.0766 524.582 69.28 266.891 212 266.891" stroke="#1691FA" stroke-width="2"/>
                <path d="M212 266.891L1482.61 266.891" stroke="#1691FA" stroke-width="2"/>
                <path d="M1483 1C1640.42 1 1634.89 266.891 1483 266.891" stroke="#1691FA" stroke-width="2"/>
                <path d="M0.225586 3.34766L1482.6 1.00109" stroke="url(#paint1_linear_304_18)" stroke-width="2"/>
                <defs>
                <linearGradient id="paint0_linear_304_18" x1="1020.5" y1="818.991" x2="558" y2="818.688" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1691FA"/>
                <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_304_18" x1="741.413" y1="2.16506" x2="0.225787" y2="2.0501" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1691FA"/>
                <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
                </linearGradient>
                </defs>
                </svg>
          

        <div class="container">
            <div data-aos="fade-down" class="title title__road">Дорожная карта</div>
            <div class="road__wrapper">
                <svg class="line-mob" width="716" height="1118" viewBox="0 0 716 1118" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M279 1117L658.046 1117" stroke="url(#paint0_linear_312_22)" stroke-width="2"/>
                    <path d="M659 956C733.64 956 731.015 1117 659 1117" stroke="#1691FA" stroke-width="2"/>
                    <path d="M53 956L657.962 956" stroke="#1691FA" stroke-width="2"/>
                    <path d="M53 715L657.962 715" stroke="#1691FA" stroke-width="2"/>
                    <path d="M54.0034 482L658.965 482" stroke="#1691FA" stroke-width="2"/>
                    <path d="M53.6772 481.54C-16.449 481.54 -13.9823 246 53.6773 246" stroke="#1691FA" stroke-width="2"/>
                    <path d="M53 956C-17.569 956 -15.0866 715 53 715" stroke="#1691FA" stroke-width="2"/>
                    <path d="M54.0034 246L658.965 246" stroke="#1691FA" stroke-width="2"/>
                    <path d="M3.00342 1L659.374 1.00044" stroke="url(#paint1_linear_312_22)" stroke-width="2"/>
                    <path d="M658 482C732.64 482 730.015 715 658 715" stroke="#1691FA" stroke-width="2"/>
                    <path d="M659.001 1C734.259 1 731.612 245.687 659.001 245.687" stroke="#1691FA" stroke-width="2"/>
                    <defs>
                    <linearGradient id="paint0_linear_312_22" x1="468.523" y1="1116.99" x2="279" y2="1116.94" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1691FA"/>
                    <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_312_22" x1="331.189" y1="0.990904" x2="3.00349" y2="0.837999" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1691FA"/>
                    <stop offset="1" stop-color="#1691FA" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                    </svg>
                    
                    
                    
                <div data-aos="fade-righ" class="road__item roadbox">
                    <div class="road__item-title">2019- Q3</div>
                    <div class="road__item-text d-1 t--1 p-1">
                        Формирование идеи создания многофункциональной платформы включающая
                        в себя сайт мобильные приложения и взаимодействие с блокчейн.
                    </div>
                </div>
                <div data-aos="fade-righ" class="road__item">
                    <div class="road__item-title road__item-title--2">2020 - Q1</div>
                    <div class="road__item-text d-1 t--1 p-1">
                        Старт разработки платформы с кабинетами пользователей, включающая в себя сайт и мобильные приложения.
                    </div>
                </div>
                <div data-aos="fade-righ" class="road__item roadbox2">
                    <div class="road__item-title">2020 - Q4</div>
                    <div class="road__item-text d-1 t--2 p-1">
                        Формирование и детальная проработка идеи создания маркетплейс NFT в индустрии спорта.
                    </div>
                </div>
                <div data-aos="fade-righ" class="road__item roadright">
                    <div class="road__item-title road__item-title--2">2021 - Q2</div>
                    <div class="road__item-text d-1 t--2 p-2 ">
                        Объединение команды экспертов. Анализ существующего рынка NFT в мировой спортивной индустрии. Детализация идеи.
                    </div>
                </div>
                <div data-aos="fade-lef" class="road__item roadleft">
                    <div class="road__item-title road__item-title--2">2022- Q2</div>
                    <div class="road__item-text border-text d-2 p-2 t--3">
                        Переговоры с Федерациями спорта и Ассоциациями.
                        Подключение Ассоциаций и Федераций к платформе. Третий этап продаж токенов (ESP).
                    </div>
                </div>
                <div data-aos="fade-lef" class="road__item">
                    <div class="road__item-title">2022 - Q1</div>
                    <div class="road__item-text border-text d-2 p-2 t--3">
                        Разработка версии платформы v2. Разработка версии маркетплейс NFT v1.
                        Переговоры с инструкторами, тренерами ЛОМ и пользователями. Второй этап продаж токенов (ESP).
                    </div>
                </div>
                <div data-aos="fade-let" class="road__item">
                    <div class="road__item-title road__item-title--2">2021 - Q4</div>
                    <div class="road__item-text t--4 d-2 p-3 border-text">
                        Подготовка к выходу на публичное представление
                        внутренних токенов платформы. Старт продаж токенов (ESP). Первый этап продаж токена.
                    </div>
                </div>
                <div data-aos="fade-rigt" class="road__item">
                    <div class="road__item-title">2021 - Q3</div>
                    <div class="road__item-text t--4 d-2 p-3 border-text">
                        Разработка версии платформы v1. Запуск первых пяти решений на платформе с
                        кабинетами пользователей, включающая в себя сайт и мобильные приложения.
                    </div>
                </div>
                <div data-aos="fade-rigt" class="road__item">
                    <div class="road__item-title">2022 - Q1</div>
                    <div class="road__item-text t--5 d-3 p-3 border-text">
                        Работа с аудиториями. Разработка версии маркетплейс NFT v2.
                        Четвертый этап продаж токенов (ESP).
                    </div>
                </div>
                <div data-aos="fade-rigt" class="road__item road-last">
                    <div class="road__item-title road__item-title--2">2022 - Q4</div>
                    <div class="road__item-text t--5 d-3 p-4 border-text">
                        Тестирование и запуск версии маркетплейс NFT v2. Начало разработки системы фиксации биометрических
                        данных спортсменов и карьерных достижений в виде NFT сохраненных в блокчейн.
                    </div>
                </div>
                <div  class="road__item-title--3"s>2023 - Q1</div>
            </div>
            <div data-aos="fade-p" class="road__buy">
                <div class="road__buy-title">Купить токены в приватном раунде</div>
                <div class="button">
                    <a class="btn" href="#">Купить</a>
                </div>
            </div>
        </div>
    </div>
</section>
