<section class="token">
    <div class="container">
        <div  data-aos="fade-down" class="token__box">
            <div class="token__box-wrapper">


            <div class="token__box-title">
                Чтобы принять участие в приватном сейле пройдите регистрацию в White List
            </div>
            <div class="token__box-text">
                Купить токены в приватном раунде
            </div>
            <div class="button token-btn">
                <a class="btn btn-token" href="#">Купить</a>
            </div>
        </div>
        <picture class="token-phone">
            <source srcset="./img/phone.webp" type="image/webp">
            <img src="./img/phone.png" alt="image">
        </picture>
        </div>
    </div>
</section>
