

*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.box-title.home-title {
	font-size: 72px;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'FuturaBookC';
	font-weight: 400;
	background-color: rgba(2, 12, 34, 1);
	color: #fff;
	font-size: 24px;
	line-height: 27px;
	overflow-x:hidden;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
  }

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

.title {
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 72px;
	line-height: 90%;
	text-align: center;
	color: #FFFFFF;
}

.text {
	font-family: 'FuturaBookC';
	font-size: 24px;
	line-height: 27px;
}
.box-text {
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #949494;
}

.box-title {
	font-family: 'FuturaDemiC';
	font-weight: 600;
	font-size: 72px;
	line-height: 80px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 24px;
}

.button {
	padding: 25px 0;
	z-index: 50;

}
.btn {
	background: linear-gradient(90.11deg, #086FF5 -39.64%, #24B1FE 104.35%);
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 25px 82px;
	border-radius: 8px;
	box-shadow: 4px 4px 20px rgba(30, 164, 252, 0.25);
	transition: all 0.6s ease-in-out;
	display: block;
	max-width: 245px;
	position: relative;
	transition: .3s ease-in-out;
	background-size: 200%;
	&:hover {
		background-position: right;
		box-shadow: 4px 4px 20px rgba(30, 164, 252, 0.50);
	}
}

.social {
	transition: .3s ease-in-out;
	&:hover path {
		fill: #24B1FE;
		transition: .3s ease-in-out;
	}
	& path {
		fill: white;
		transition: .3s ease-in-out;
	}
}

.card-title {
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	padding-top: 10px;
	line-height: 37px;
	background: linear-gradient(90.35deg, #086FF5 -26.99%, #24B1FE 52.73%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	padding-bottom: 24px;
}
