.metrics {
    padding-bottom: 153px;
    position: relative;
    overflow: hidden;
}

.metrics-blur {
    position: absolute;
    top: -10rem;
    z-index: -1;
}

.metrics-light {
    position: absolute;
    right: 0;
    top: 19rem;
    z-index: -1;
}

.metrics__wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 35px;
    padding-top: 90px;
}

.metrics__item {
    max-width: 704px;
    background: #0F182D;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #0F182D;
    transition: all 0.3s ease-in-out!important;

    &:hover {
      border: 2px solid #24b1fe;
      transition: all 0.3s ease-in-out!important;
    }
    &-title{
        padding-top: 61px;
        padding-bottom: 25px;
        margin-bottom: 8px;
        font-family: FuturaDemiC;
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        background: linear-gradient(90.35deg, #086FF5 -26.99%, #24B1FE 52.73%);
	    background-clip: text;
	    -webkit-text-fill-color: transparent;
	    color: transparent;
    }
    &-text {
        padding-bottom: 41px;
    }
}

@media(max-width: 1500px) {
  .metrics__item-title {
    font-size: 56px;
    padding-top: 40px;
    padding-bottom: 15px;
  }
}


@media(max-width: 1180px) {
  .metrics__item-title {
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media(max-width: 1024px) {
  .metrics__item-title {
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .metrics__item {
    width: 100%;
  }
  .metrics__wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .metrics__item-text {
    padding-bottom: 30px;
  }
}

@media(max-width: 970px) {
  .metrics-blur {
    width: 200px;
  }
}


@media(max-width: 820px) {
  .metrics .title {
    font-size: 42px;
    line-height: 33px;
  }
  .metrics {
    padding-bottom: 50px;
  }
  .metrics__wrapper {
    padding-top: 32px;
  }
}

@media(max-width: 550px) {
  .metrics__wrapper {
    padding-top: 32px;
    grid-gap: 8px;
  }
  .metrics__item {
    border-radius: 15px;
  }
  .metrics__item-title {
    padding-top: 24px;
    padding-bottom: 8px;
    line-height: 37px;
    font-size: 32px;
  }
  .metrics__item-text {
    padding-bottom: 24px;
  }
}


@media (max-width:400px) {
  .metrics .title {
    font-size: 32px;
  }
}
