<section class="application">
    <svg class="application-vector" width="870" height="1118" viewBox="0 0 870 1118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.2" filter="url(#filter0_f_100_37)">
        <ellipse cx="747.59" cy="558.949" rx="355.098" ry="139.677" transform="rotate(-13.1772 747.59 558.949)" fill="#1388F8"/>
        </g>
        <defs>
        <filter id="filter0_f_100_37" x="0.355408" y="0.656738" width="1494.47" height="1116.58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_37"/>
        </filter>
        </defs>
        </svg>
        <svg class="aplication-ellips" width="1338" height="830" viewBox="0 0 1338 830" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1327.86 710.713C1312.01 750.679 1276.13 780.57 1224.7 800.363C1173.28 820.157 1106.36 829.832 1028.54 829.391C872.898 828.511 673.765 787.171 468.041 705.564C262.317 623.956 88.9963 517.549 -24.9232 411.5C-81.8842 358.474 -123.974 305.557 -147.847 255.894C-171.72 206.231 -177.355 159.871 -161.501 119.904C-145.647 79.9377 -109.764 50.0474 -58.3395 30.2541C-6.91401 10.4605 60.0056 0.785481 137.826 1.2258C293.465 2.10642 492.597 43.4458 698.321 125.053C904.045 206.661 1077.37 313.068 1191.29 419.117C1248.25 472.143 1290.34 525.06 1314.21 574.724C1338.08 624.386 1343.72 670.746 1327.86 710.713Z" stroke="#172F66"/>
            </svg>
    <div class="container">
        <div class="title">Применение ESP</div>
        <div class="box-text">ESP - это служебный токен, выпущенный ECOSPON для функционирования <br>
            процессов и взаимодействия комьюнити платформы
        </div>
        <div class="application__wrapper">
            <div class="platform__box application__box">
                <div class="application__image">
                    <picture>
                        <source srcset="./img/bitcoin.webp" type="image/webp">
                        <img src="./img/bitcon.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title application__box-title">
                        Служебные операции
                    </div>
                    <div class="platform__box-text application__box-text">
                       <p>Оплата комиссии при покупке NFT на marketplace и создании на платформе.

                       </p> 
                       <p>Размещение собственных NFT инструктора, эксперта, лидера мнений и пользователя во внутрь динамически изменяемого Dynamic Smart NFT 2.0, выставленного на аукцион, 
                           и запрограммированного для размещения в него дополнительного контента.
                        </p>  
                    </div>
                </div>
            </div>
            <div class="platform__box application__box">
                <div class="application__image">
                    <picture>
                        <source srcset="./img/exchange.webp" type="image/webp">
                        <img src="./img/exchange.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title application__box-title">
                        Снижение комиссии
                    </div>
                    <div class="platform__box-text application__box-text"> 
                       <p>Внутренними токенами платформы (ESP) пользователь оплачивает более низкую комиссию при всех транзакциях 
                           на платформе и на marketplace, в отличии от оплаты сторонними средствами платежа.
                        </p>  
                    </div>
                </div>
            </div>
            <div class="platform__box application__box">
                <div class="application__image">
                    <picture>
                        <source srcset="./img/wallet.webp" type="image/webp">
                        <img src="./img/wallet.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title application__box-title">
                        Стейкинг
                    </div>
                    <div class="platform__box-text application__box-text">
                       <p>Чтобы получать доход распределения комиссий, нужно хранить на счету ESP. Наличие монет ESP в кошельке позволяет присоединиться к сети проекта.
                       </p> 
                       <p>В качестве благодарности пользователь получает вознаграждение в виде токенов ESP.
                      </p>  
                    </div>
                </div>
            </div>
        </div>
        <div class="application__wrap">
        <div class="application__box-down">
            <div class="application__image-down">
                <picture>
                    <source srcset="./img/ethereum.webp" type="image/webp">
                    <img src="./img/ethereum.png" alt="image">
                </picture>
            </div>
            <div class="platform__box-container">
                <div class="application__title-down">
                    Фарминг
                </div>
                <div class="platform__box-text application__box-text">
                   <p>Мы так же добавим возможность заработка на сдаче токенов платформы (ESP) в аренду пользователям, 
                       которые оплачивают комиссии не в токенах платформы, через пул ликвидности.
                   </p> 
                   <p>Доступ к участию в airdrop для получения токенов партнеров и участие в розыгрыше отдельных NFT, а также пулов NFT собранных в magic box.
                  </p>  
                </div>
            </div>
        </div>
        <div class="application__box-down">
            <div class="application__image-down">
                <picture>
                    <source srcset="./img/programmer.webp" type="image/webp">
                    <img src="./img/programmer.png" alt="image">
                </picture>
            </div>
            <div class="platform__box-container">
                <div class=" application__title-down">
                    Программы лояльности
                </div>
                <div class="platform__box-text application__box-text">
                   <p>Геймификация активности пользователей на платформе - рейтинги, верификации контента в Dynamic Smart 
                       NFT Реферальная партнерская программа для привлечения новых пользователей на платформу.
                   </p> 
                   <p>Баунти-программа - предоставление токенов активным участникам проекта.
                  </p>  
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


