<section class="marketplays">
    <div class="marketplays__inner">
        <div class="container">
            
                <div class="marketplays__info">
                    <div class="marketplays__info-title">
                        Блокчейны и маркетплейсы
                    </div>
                    <div class="marketplays__info-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Venenatis dolor a auctor integer porttitor. At gravida sed diam sed quis. 
                        Purus a maecenas amet varius. Neque eu, at malesuada convallis. Nunc euismod augue porttitor venenatis. 
                        Malesuada sit pretium a, arcu ac nec. Cursus habitant id cursus nunc.
                    </div>
                </div>
                <div class="marketplays__image">
                    <picture class="marketplays__cirle">
                        <source srcset="./img/circle.webp" type="image/webp">
                        <img src="./img/circle.png" alt="image">
                    </picture>
                </div>
           
        </div>
        <picture class="fitness-girl">
            <source srcset="./img/fitness-girl.webp" type="image/webp">
            <img src="./img/fitness-girl.png" alt="image">
        </picture>
    </div>
</section>