<section class="platform">
    <div class="container">
        <div class="title platform__title">О платформе</div>
        <div class="platform__box-ellipce">
            <svg class="svg__box-ellipce" width="1420" height="789" viewBox="0 0 1448 789" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1402.78 295.041C1408.86 325.347 1395.8 358.091 1366.78 391.392C1337.76 424.687 1292.85 458.465 1235.41 490.799C1120.55 555.466 955.714 614.306 768.13 651.974C580.545 689.642 405.772 698.999 274.849 683.687C209.384 676.031 154.913 662.211 115.291 642.7C75.6609 623.184 50.9715 598.021 44.8859 567.715C38.8002 537.409 51.8614 504.665 80.8853 471.363C109.903 438.068 154.817 404.291 212.251 371.956C327.114 307.289 491.951 248.45 679.535 210.781C867.12 173.113 1041.89 163.757 1172.82 179.068C1238.28 186.724 1292.75 200.544 1332.37 220.056C1372 239.571 1396.69 264.735 1402.78 295.041Z" stroke="#172F66"/>
                <path d="M1127.91 152.399C1138.47 173.21 1135.6 199.685 1121.2 229.831C1106.8 259.969 1080.92 293.687 1045.61 328.898C974.997 399.316 866.77 475.623 737.664 541.109C608.559 606.596 483.057 648.845 384.525 664.223C335.257 671.913 292.76 672.88 259.938 666.692C227.108 660.503 204.052 647.177 193.496 626.366C182.941 605.555 185.808 579.08 200.207 548.934C214.603 518.796 240.487 485.078 275.796 449.867C346.41 379.448 454.637 303.142 583.742 237.655C712.847 172.169 838.349 129.92 936.881 114.541C986.15 106.852 1028.65 105.885 1061.47 112.073C1094.3 118.262 1117.35 131.588 1127.91 152.399Z" stroke="#172F66"/>
                </svg>
        </div>
            <svg class="platform__box-ellipce-blur" width="873" height="1150" viewBox="0 0 873 1150" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.2" filter="url(#filter0_f_100_32)">
                <ellipse cx="783.794" cy="575.299" rx="391.681" ry="154.067" transform="rotate(-13.1772 783.794 575.299)" fill="#1388F8"/>
                </g>
                <defs>
                <filter id="filter0_f_100_32" x="0.787292" y="0.699463" width="1566.01" height="1149.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_32"/>
                </filter>
                </defs>
            </svg>
            <svg class="ellipce-orange" width="881" height="1189" viewBox="0 0 881 1189" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.2" filter="url(#filter0_f_100_743)">
                    <ellipse cx="54.6157" cy="594.376" rx="436" ry="171.5" transform="rotate(-13.1772 54.6157 594.376)" fill="#FE8100"/>
                    </g>
                    <defs>
                    <filter id="filter0_f_100_743" x="-771.729" y="0.0202637" width="1652.69" height="1188.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_100_743"/>
                    </filter>
                    </defs>
            </svg>
        <div class="platform__wrapper">
            <div class="platform__box">
                
                <div class="platform__image">
                    <picture>
                        <source srcset="./img/blockchain.webp" type="image/webp">
                        <img src="./img/blockchain.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title">
                        Proof-of-Real-Action System
                    </div>
                    <div class="platform__box-text">
                        Система протоколов, которая гарантирует повышение уровня уникальности каждого NFT,
                        что значительно повышает коллекционную ценность и инвестиционный потенциал.
                    </div>
                </div>
            </div>
            <div class="platform__box">
                <div class="platform__image">
                    <picture>
                        <source srcset="./img/servers.webp" type="image/webp">
                        <img src="./img/servers.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title">
                        NFTR <br>
                        Non-fungible Reaction Новый стандарт NFT
                    </div>
                    <div class="platform__box-text">
                        Это NFT с комментариями, обзорами, статьями и другими реакциями, 
                        которые сообщество размещает в динамически изменяемый NFT автора.
                        Зафиксированная в NFT реакция в виде NFTR дает право на увеличение рейтинга 
                        в системе и получение роялти, без необходимости покупки NFT.
                    </div>
                </div>
            </div>
            <div class="platform__box platform--3">
                
                <div class="platform__image platform__image-box">
                    <picture>
                        <source srcset="./img/box.webp" type="image/webp">
                        <img src="./img/box.png" alt="image">
                    </picture>
                </div>
                <div class="platform__box-container">
                    <div class="platform__box-title">
                        DC-NFT - Dynamically changeable NFT
                    </div>
                    <div class="platform__box-text">
                        Составной NFT, сложенный из авторского контента и реакции сообщества упакованной в виде NFR. 
                        Такой токен динамически изменяется с дополнением каждого NFTR и приобретает окончательный вид, 
                        ценность и стоимость при упаковке в блокчейн и покупке в конце аукциона.
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>