.ecosystem {
    position: relative;
    padding-bottom: 110px;
    overflow: hidden;

    &__inner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.system__title {
   position: relative;
   padding-top: 134px;
}



.ecosystem__wrapper {
    padding-top: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    position: relative;
    z-index: 50;
}

.fitness-man {
    position: absolute;

    top: 5rem;
}

.ecosystem-vector {
    position: absolute;
    top: 25rem;
    left: 17rem;
    z-index: -1;
}


.mobile-eco {
  display: none;
}

.ecosystem__card--1 {
}
.ecosystem__card {
    width: 464px;
    background: #0F182D;

box-sizing: border-box;
box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
border-radius: 30px;
padding: 64px 39px;
text-align: right;
max-height: 308px;
z-index: 50;
border: 2px solid #14213F;
transition: all 0.3s ease-in-out;

&:hover {
  border: 2px solid #24b1fe;
  transition: all 0.3s ease-in-out;
}
}
.ecosystem__card-left {
    text-align: left;
}
.ecosystem__logo {

    img {
        padding: 0 96px;
    }
}
.ecosystem__link {

    a {
        color: #FFFFFF;
         text-decoration-line: underline;
         transition: .3s;
         &:hover {
            color: #24B1FE;
         }
    }
}
.ecosystem__wrap {
    display: flex;
    justify-content: center;
    z-index: 50;
    position: relative;
}

.card-right {
    margin-right: 30px;
}


.blur {
    position: absolute;
    right: 0;
    top: 8rem;
    z-index: -1;
}


@media screen and (max-width:1439px) {
    .ecosystem__card {
        width: 384px;
    }
}

@media screen and (max-width: 1370px) {
    .ecosystem__card .card-title {
        padding-top: 0px;
    line-height: 37px;
    }
    .ecosystem__card {
        padding: 52px 32px;
    }
    .ecosystem__text {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .ecosystem-vector {
        left: 13rem;
        display: none;
    }
}

@media screen and (max-width: 1238px) {
    .ecosystem-vector {
        left: 8rem;
    }
}

@media screen and (max-width: 1222px) {
    .ecosystem__card .card-title {
        font-size: 25px;
        line-height: 27px;
    }
    .ecosystem__text {
        font-size: 18px;
    }
    .title.system__title {
        font-size: 54px;
    line-height: 75%;
    }
}

@media screen and (max-width: 1114px) {
    .ecosystem-vector {
        left: 5rem;
    }
}

@media screen and (max-width: 1100px) {
    .ecosystem__wrapper {
        display: block;
    }
    .ecosystem__wrap {
        display: block;
    }
    .ecosystem__card {
        margin-bottom: 16px;
    }
    .ecosystem__card--1 {
        margin-left: 50px;
        border: none;
    }
    .ecosystem__wrap.ecosystem__card  {
        margin-bottom: 16px;
    }
    .ecosystem-vector {
        left: -21rem;
        top: 40rem;
    }
    .fitness-man {
        top: 32rem;
    right: 0;
    img {
        width: 381px;
    }
    }
    .title.system__title {
      font-size: 24px;
    }
    .ecosystem-vector {
    left: -21.5rem;
    top: 39rem;
    transform: rotate(90deg);
z-index: -5;
display: inline;
  }
  .desctop-eco {
    display: none;
  }
  .mobile-eco {
    display: inline;
    position: relative;
    z-index: 12;
  }
  .ecosystem__wrap .ecosystem__card.card-right {
    position: relative;
    z-index: 5;
    margin-top: 32px;
  }
  .ecosystem__card .card-title {
    text-align: left;
  }
  .ecosystem__text {
    text-align: left;
  }
  .ecosystem__link {
    text-align: left;
  }
  .system__title {
    padding-bottom: 24px;
    padding-top: 0;
  }

  .ecosystem__wrapper {
    padding-top: 0px;
  }
  .ecosystem {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
    .ecosystem__logo img {
        padding: 0px 53px;
    }
    .fitness-man {
    top: 32rem;
    right: -135px;
}


}

@media screen and (max-width: 460px) {
    .ecosystem__card {
        width: 244px;
    }
    .ecosystem__card .card-title {
        font-size: 20px;
        line-height: 27px;
        padding-left: 0;
    }
    .ecosystem__text, .ecosystem__link {
      font-size: 16px;
    }
    .ecosystem__logo {
        img {
            width: 91%;
        }
    }
}
