
.home__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    
}
.main__box {
    font-family: 'FuturaBookC';
    font-weight: 400;
    max-width: 704px;
    color: #949494;
    padding-top: 158px;
    &-text {
        font-size: 32px;
        line-height: 36px;
    }
    &-items{
        padding-bottom: 32px;
    }
    &-item {
        font-size: 24px;
        line-height: 27px;
        padding-top: 32px;
        position: relative;
        padding-left: 45px;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0;
            background-image: url(../img/subtract.png);
            background-repeat: no-repeat;
            
        }
    }
    &-round {
        font-family: 'FuturaDemiC';
        font-weight: 600;
        color: #fff;
    }
    &-buy {

        padding-top: 8px;
        display: flex;
        align-items: center;
    }

    .market {
        z-index: 50;
    }
    .google-play {
        
        cursor: pointer;
        margin: 5px 16px 0 48px;
        img {
            cursor: pointer;
        }
    }
    .store {
        z-index: 50;
    }
    .appstore {
        padding-top: 5px;
    }
}





@media screen and (max-width: 1600px) {
    .main__box {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1550px) {
    .box-title {
        padding-bottom: 16px;
    }
    .main__box-item {
        padding-top: 23px;
    }
}

@media screen and (max-width: 1400px) {
    .main__box-item {
        padding-top: 22px;
    }
    .box-title.home-title.aos-init.aos-animate {
        font-size: 58px;
        padding-bottom: 6px;
    }
    .main__box {
        padding-top: 38px;
    }
}
@media screen and (max-width: 1100px) {
    .home-title {
        font-size: 52px;
        line-height: 70px;
        max-width: 600px;
    }
}
@media screen and (max-width: 900px) {
    .box-title.home-title {
        font-size: 48px;
        line-height: 62px;
        max-width: 600px;
    }
    .main__box {
        padding-top: 79px;
    }
}


@media screen and (max-width: 600px) {
    .main__box-item {
        font-size: 21px;
        line-height: 27px;
        padding-top: 9px;
        position: relative;
        padding-left: 45px;
    }
    .home__inner {
        background-position-x: -675px;
        background-position-y: 58px;
        height: 100vh;

    }
}
@media screen and (max-width: 550px) {
    .box-title.home-title {
        font-family: FuturaDemiC;
        font-weight: 600;
        font-size: 35px;
        line-height: 39px;
        max-width: 272px;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 24px;
    }
}
@media screen and (max-width: 378px) {
    .home__inner {
        background-position-x: -532px;
        background-position-y: 58px;
    }
}


@media screen and (max-width: 319px) {
    .main__box-text {
        font-size: 32px;
        line-height: 27px;
    }
    
}