
.marketplays {
    position: relative;
    padding-bottom: 140px;
    &__inner {
        position: relative;
    }
}

.market__box {
    display: flex;
}

.fitness-girl {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -3;
}

.marketplays__info {
    padding-top: 90px;
    max-width: 520px;
    &-text {
        max-width: 365px;
    }
}
    .marketplays__info-title {
        font-family: 'FuturaDemiC';
        font-weight: 600;
        font-size: 72px;
        line-height: 80px;
        color: #FFFFFF;
        padding-bottom: 24px;
    }

   @media screen and (max-width:1383px) {
       .marketplays__cirle {
           img {
               width: 600px;
           }
       }
   }


   @media screen and (max-width: 1263px) {
    .marketplays__info-title {
        font-size: 57px;
        line-height: 54px;
    }
    .fitness-girl {
        img {
            width: 700px;
        }
    }
   }

   @media screen and (max-width:1149px) {
    .marketplays__cirle img {
        width: 500px;
    }
    .marketplays__info-title {
        font-size: 50px;
        line-height: 49px;
    }
    .marketplays__info-text {
        font-size: 20px;
    }
    .fitness-girl img {
        width: 600px;
    }
   }


   @media screen and (max-width:1100px) {
    .fitness-girl img {
        width: 400px;
    }
   .marketplays__cirle img {
        width: 450px;
    }
    .marketplays__info-title {
        font-size: 41px;
        line-height: 40px;
    }
    .marketplays__info-text {
        font-size: 18px;
    }
   }


   @media screen and (max-width:897px) {
    .marketplays__cirle img {
        width: 400px;
    }
   }

   @media screen and (max-width:814px) {
    .marketplays__cirle img {
        width: 330px;
    }
    .fitness-girl img {
        width: 340px;
        top: 2rem;
    }
    .marketplays__info {
      padding-top: 0;
    }
   }

   @media screen and (max-width:744px) {
    .marketplays__info-title {
        font-size: 34px;
        line-height: 32px;
    }
    .marketplays__image {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }
   }

   @media screen and (max-width:692px) {
       .market__box {
           display: block;
       }
   }

   @media screen and (max-width: 510px) {
    .marketplays__cirle img {
        width: 300px;
    }
    .marketplays {
      padding-bottom: 80px;
      padding-top: 40px;
    }
    .marketplays__info {
      padding-top: 0;
    }
   }
