.platform {
    position: relative;
    padding-bottom: 194px;
}
.platform__title {

    padding-bottom: 194px;
}
.platform__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.platform__box-ellipce {
    position: absolute;
    top: 1.6rem;
    left: 12.1rem;
}
.platform__box-ellipce-blur {
    position: absolute;
    right: 0;
}
.ellipce-orange {
    position: absolute;
    left: 0;
    top: -23rem;
    z-index: -10;
}
.platform__box {
    max-width: 459px;
    height: 624px;
    background: #0F182D;
    border-radius: 30px;
    position: relative;
    border: 2px solid #0F182D ;
    transition: all 0.3s ease-in-out!important;
    &:hover {
      border: 2px solid #24b1fe ;
      transition: all 0.3s ease-in-out!important;
    }
    .platform__image {
        position: absolute;
        top: -7rem;
        left: 7rem;
    }
    .platform__image-box {
        top: -6rem;
    }
    &-container {
        padding: 0 50px;
    }
    &-title {
        font-family: 'FuturaDemiC';
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 24px;
        font-size: 32px;
        line-height: 37px;
        color: #FFFFFF;
    }
    &-text {
        color: #949494;
    }
}

.platform__box-text {
    p {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1610px) {
    .svg__box-ellipce {
        width: 600px;
    }
    .platform__wrapper {
        margin: 0;
    }
    .platform__box {
        max-width: 432px;
    }
}

@media screen and (max-width: 1440px) {
    .platform__box {
        max-width: 411px;
    }
    .platform__box-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 1375px) {
    .platform__box {
        max-width: 396px;
    }
    .platform__box-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 1367px) {
    .platform__box .platform__image {
        position: absolute;
        top: -9rem;
        left: 6rem;
    }
    .platform__box-title {
        padding-top: 97px;
    }
}

@media screen and (max-width: 1325px) {

    .platform__box-text {
        font-size: 17px;
    }
    .platform__box-title {
        font-size: 26px;
    }
    .platform__box {
        max-width: 367px;
        height: 567px;

    }
    .box-title.benefit-title, .box-title.sale-title {
        font-size: 53px;
    }
    .platform__box .platform__image {
        position: absolute;
        top: -9rem;
        left: 5rem;
        img {
            width: 227px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .box-title.benefit-title {
        font-size: 45px ;
    }
}
@media screen and (max-width: 1240px) {
    .platform__box-text {
        font-size: 15px;
    }
    .platform__box-title {
        line-height: 28px;
    }
    .platform__box {
        max-width: 351px;
        height: 505px;
    }
}

@media screen and (max-width: 1182px) {
    .platform__box {
        max-width:  335px;
    }
}

@media screen and (max-width: 1146px) {
    .platform__box-title {
        padding-top: 52px;
        font-size: 23px;
    }
    .platform__box {
        max-width: 324px;
    }
    .platform__box .platform__image {
        top: -6rem;
        left: 6rem;
    }
    .platform__box .platform__image img {
        width: 150px;
    }
}

@media screen and (max-width: 1100px) {
    .platform__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
     }
     .platform--3 {
         grid-column: span 2;
     }
    .platform__box {
        margin: 0 auto;
            margin-bottom: 100px;
            height: auto;
    padding-bottom: 33px;
    }
    .platform__box-ellipce-blur {
        bottom: 0;
    }
    .ellipce-orange {
        position: absolute;
        left: 0;
        top: 0;
    }
    .platform__box-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 884px) {
    .ellipce-orange {
        width: 300px;
    }
    .platform__box-ellipce {
        position: absolute;
        top: 31.6rem;
        left: 9.1rem;
    }
    .platform {
      padding-bottom: 0;
    }
}

@media screen and (max-width: 752px) {
    .svg__box-ellipce {
        width: 400px;
    }
    .platform__title {
        font-size: 58px;
    }
}

@media screen and (max-width: 744px) {
    .platform__wrapper {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .svg__box-ellipce {
        width: 200px;
    }
}

@media screen and (max-width: 420px) {
    .platform__box {
        width: 100%;
    }
    .platform__box-container {
        padding: 0 20px;
    }
    .platform__box-title {
        font-size: 23px;
    }
    .platform__box .platform__image img {
        width: 130px;
    }
    .platform__box .platform__image {
        top: -5rem;
        left: 5rem;
    }
    .platform__title {
        font-size: 41px;
    }
    .platform__title {
        padding-bottom: 122px;
    }
    .svg__box-ellipce {
        width: 150px;
    }
}
