.road {
  overflow: hidden;
}

.road__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.road-line {
    position: absolute;
    top: 29rem;
    left: 0.8rem;
}

.road__wrapper {
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-gap: 74px 18px;
    position: relative;
    margin-bottom: 150px;
}

.title__road {
    padding-top: 115px;
    padding-bottom: 72px;
}

.road__item {
    font-family: FuturaDemiC;
    max-width: 389px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        background: linear-gradient(90.11deg, #086FF5 -39.64%, #24B1FE 104.35%);

    }
    &-title {
        color: rgba(8, 111, 245, 1);
        font-size: 32px;
        line-height: 37px;
    }
    &-text {
        font-family: FuturaBookC;
        font-weight: 400;
        line-height: 27px;
        color: #949494;
        border-left: 1px solid #1691FA;
        font-size: 24px;
        min-height: 178px;
        padding-left: 14px;
    }
}

.d-1 {
  min-height: 169px;
}
.border-text.d-2 {
  min-height: 206px;
}

.border-text {
    font-family: FuturaBookC;
        font-weight: 400;
        line-height: 27px;
        color: #949494;
        border-left: 1px solid #1691FA;
        font-size: 24px;
        min-height: 198px;
        padding-left: 14px;
}

.road__item-title--2 {
    color: #FDFDFD;
}

.road__item-title--3 {
    font-family: FuturaDemiC;
    font-size: 32px;
    line-height: 37px;
    position: absolute;
    bottom: 0rem;
    right: 29rem;
    background: linear-gradient(88.64deg, #086FF5 -22.94%, rgba(36, 177, 254, 0.15) 105.79%);
    background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}


.road__buy {
    text-align: center;
    margin-top: 110px;
    margin: 0 auto;
    background: radial-gradient(56.24% 163.86% at 17.55% 182.14%, #2C354E 0%, #0E172E 100%);
border-radius: 30px;
max-width: 633px;
padding: 65px 55px;
margin-bottom: 96px;
&-title {
    font-size: 32px;
    line-height: 90%;
    margin-bottom: 24px;
}

& .button .btn {
  margin: 0 auto;
}
}


@media screen and (max-width: 1817px) {
  .road-line {
    left: -2.2rem;
}
}

@media (max-width: 1792px) {
  .road-line {
    width: 100%;
    height: 633px;
    top: 472px;
}
.d-1 {
  min-height: 185px;
}
.border-text.d-2 {
  min-height: 198px;
}
.d-3 {
  min-height: 190px;
}
}

@media screen and (max-width: 1767px) {
  .border-text {
    font-size: 21px;
  }
  .d-3 {
    min-height: 182px;
}
}

@media screen and (max-width: 1743px) {
  .road-line {
    width: 100%;
    height: 633px;
    top: 472px;
    left: -3rem;
}
}
@media screen and (max-width: 1743px) {
  .d-3 {
    min-height: 176px;
}
}

@media (max-width: 1738px) {
  .d-1 {
    min-height: 195px;
}
.d-2 {
  min-height: 205px;
}
.road__wrapper {
  grid-gap: 56px 18px;
}
.d-3 {
  min-height: 195px;
}
}

@media (max-width: 1696px) {
  .border-text {
    line-height: 24px;
    min-height: 160px;
    font-size: 20px;
  }
  
 
  .d-1 {
    min-height: 196px;
}
.d-2 {
  min-height: 195px;
}
.d-3 {
  min-height: 189px;
}
}

@media screen and (max-width: 1664px) {
  .d-1 {
    min-height: 209px;
}
.border-text.d-2 {
  min-height: 192px;
}
.d-3 {
  min-height: 184px;
}
}
@media screen and (max-width: 1650px) {
  .d-1 {
    min-height: 209px;
}
.d-3 {
  min-height: 184px;
}
.road-line {

  left: -2rem;
}
.border-text.d-2 {
  min-height: 192px;
}
}

@media screen and (max-width:1634px) {
  .d-3 {
    min-height: 171px;
}
}

@media screen and (max-width:1624px) {
  .d-3 {
    min-height: 177px;
}
}
@media screen and (max-width:1614px) {
  .road-line {
    width: 103%;
    height: 633px;
    top: 472px;
    left: -3rem;
}
}

@media (min-width: 1584px)  {
  .road-line-2 {
    display: none;
  }
}

@media (max-width: 1584px) {
  .road__wrapper {
    grid-template-columns: repeat(3, 4fr);
    align-self: center;
    // background-image: url(../../img/road-map.svg);
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    // background-position: top;
  }
  .road__inner .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }

  .road-line {
    display: none;
  }

  .road-last {

    grid-area: 4/3;
    grid-column: 3;
  }

  .d-1 {
    min-height: 0;
}
.border-text.d-2 {
    min-height: 0;
}
.road__item::after {
  width: 26px;
  height: 26px;
  
}
  .d-3 {
    min-height: 0;
}
.road-line-2 {
  display: block;
  position: absolute;
  top: 29rem;
  left: -5rem;
}

.p-1{
  min-height: 165px;
}
.border-text.d-2.p-2 {
  min-height: 149px;
}

.road__item-text.d-1.t--2.p-2 {
  min-height: 149px;
}
.road__wrapper {
  grid-gap: 78px 18px;
}
.p-3 {
    min-height: 145px;
}

.road__item-text.t--4.d-2.p-3 {
  min-height: 145px;
}
.p-4 {
  min-height: 178px;
}
.road__item-title--3 {
  right: 34rem;
}



}




@media screen and (max-width: 1500px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 29rem;
    left: -9rem;
}
} 


@media screen and (max-width: 1444px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 29rem;
    left: -13rem;
}
}


@media screen and (max-width: 1313px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -18rem;
}
.road__item-text {
  max-width: 268px;
}
.road__wrapper {
  grid-template-columns: repeat(3,4fr);
  align-self: center;
  grid-gap: 61px 18px;
}
.p-1 {
  min-height: 198px;
}
.road__item-text {
  font-size: 18px;
}


.border-text.d-2.p-2, .road__item-text.d-1.t--2.p-2 {
  min-height: 165px;
}
.p-3, .road__item-text.t--4.d-2.p-3 {
  min-height: 160px;
}
.p-4 {
  min-height: 198px;
}
.road__item-title--3 {
  right: 21rem;
}
}


@media (max-width:1245px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -31rem;
}
}

@media (max-width: 1050px) {
  .road__item-text {
    font-size: 18px;

  }
  .border-text {
    line-height: 22px;
  }
  .road__item::before {
      width: 109%;
   }
   .road-line-2 {
    top: 31rem;
    left: -36rem;
}

}

@media screen and (max-width:1000px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -34rem;
}
}


@media (max-width: 954px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -41rem;
}
}
@media (max-width: 900px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -45rem;
}
.road__item-text {
  font-size: 15px;
}
}


@media (max-width: 871px) {
  .road__item-title--3 {
    right: 18rem;
    /* font-size: 21px; */
}
}
@media (max-width: 800px) {
  .road-line-2 {
    display: block;
    position: absolute;
    top: 31rem;
    left: -51rem;
}

}
@media (max-width: 757px) {
  .road__item::after {
    width: 19px;
    height: 19px;
}
.road__item-text {
  font-size: 14px;
}
}
@media (max-width: 721px) {
  .road__wrapper {
    grid-template-columns: repeat(3,4fr);
    align-self: center;
    grid-gap: 52px 18px;
}
.border-text.d-2.p-2, .road__item-text.d-1.t--2.p-2 {
  min-height: 178px;
}
.p-3, .road__item-text.t--4.d-2.p-3 {
  min-height: 170px;
}
.p-4 {
  min-height: 206px;
}
.road-line-2 {
  display: block;
  position: absolute;
  top: 31rem;
  left: -57rem;
}
}

@media screen and (min-width:700px) {
  .line-mob {
    display: none;
  }


}

@media (max-width: 700px) {
  .road-line-2 {
    display: none; 
   }

   .line-mob {
    display: block;
    position: absolute;
    left: -5rem;
    top: 16rem;
  }
  .road-last {
    grid-area: inherit;
    grid-column: inherit;
}

  .road__inner .title.title__road {
    font-size: 24px;
    padding-top: 40px;
  }

  .road__item-title--3 {
    left: 50%;
    transform: translateX(-50%);
    bottom: -95px;
    right: auto;
  }
  .road__wrapper {
    grid-template-columns: repeat(2, 4fr);
    margin-bottom:250px;
  }
  .title__road {
    padding-bottom: 32px;
  }
  .line-mob {
    left: -5rem;
    top: 13rem;
  }

  .t--1 {
    min-height: 162px;
  }
  .road__item-text.d-1.t--2.p-2   {

    min-height: 155px;
  }
  .road__item-text.d-1.t--2.p-1 {
    min-height: 155px;
  }

  .road__item-text.border-text.d-2.p-2.t--3 {
    min-height: 152px;
  }

  .p-3, .road__item-text.t--4.d-2.p-3 {
    min-height: 140px;
}

  .t--4 {
    min-height: 140px;
  }

  .t--5 {
    min-height: 152px;
  }
  .road__item-text {
    font-size: 16px;
  }
  .road__item-title--3 {
    left: 44%;
    bottom: -29px;
    bottom: -138px;
    font-size: 14px;
    right: auto;
}
}




@media screen and (max-width:600px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -12rem;
    top: 13rem;
}
.road__item-text {
  font-size: 14px;
}
}


@media (max-width: 552px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -15rem;
    top: 13rem;
}
}
@media (max-width: 531px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -12rem;
    top: 13rem;
}
}
@media (max-width: 500px) {
  .road__buy {
    padding: 35px 25px;
  }
  .road__buy-title {
    font-size: 24px;
  }
  .road__item::before {

    display: inline;
  }
  // .road__wrapper {
  //   background-image: url(../../img/road-map.svg);
  //   background-size: 100%;
  //   background-position: center;
  //   background-position-y: 380px;
  // }
  // .road__item:nth-child(3),   .road__item:nth-child(4) {
  //   margin-top: 80px;
  // }
  //
  // .road__item:nth-child(7),   .road__item:nth-child(8) {
  //   margin-top: 40px;
  // }
  .line-mob {
    display: block;
    position: absolute;
    left: -14rem;
    top: 13rem;
}

}


@media (max-width: 460px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -16rem;
    top: 13rem;
}


}
@media (max-width: 460px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -18rem;
    top: 13rem;
}
}
@media (max-width: 430px) {
  .road__item-text {
    font-size: 12px;
    line-height: 16px;
  }
  .road__item-title {
    font-size: 18px;
  }
  .road__item-text {
    min-height: 160px;
  }
  .road__item::before {
    width: 111%;
  }
  .line-mob {
    display: block;
    position: absolute;
    left: -9rem;
    top: 12rem;
    height: 1144px;
}

.road__item::after {
  width: 21px;
  height: 22px;


}
.road__item-text {
  max-width: 136px;
  min-height: 148px;
}

.t--1 {
  min-height: 164px;
}
.t--2 {
  min-height: 116px;
}
.t--3 {
  max-width: 148px;
    min-height: 155px;
}

.t--4 {
  min-height: 160px;
}
.road__item-text.d-1.t--2.p-1, .road__item-text.d-1.t--2.p-2 {
  min-height: 164px;
}
.road__item-text.border-text.d-2.p-2.t--3 {
  min-height: 156px;
}
.p-3, .road__item-text.t--4.d-2.p-3, .t--4 {
  min-height: 147px;
}

.road__item-title {
  line-height: 31px;
}

.t--5 {
  max-width: 137px;
  min-height: 160px;
}


  .road__item-title--3 {
    left: 44%;
    bottom: -29px;
    bottom: -113px;
    font-size: 14px;
    right: auto;
}
.line-mob {
  display: block;
  position: absolute;
  left: -22rem;
  top: 12rem;
  height: 1144px;
}

}


@media screen and (max-width:380px) {
  .road__item::after {
    width: 16px;
    height: 16px;
}
.t--2 {
  min-height: 120px;
}
}

@media screen and (max-width: 350px) {
  .line-mob {
    display: block;
    position: absolute;
    left: -24rem;
    top: 12rem;
    height: 1144px;
}
}
@media screen and (max-width: 343px) {
  .t--5 {
    max-width: 137px;
    min-height: 156px;
}
}
@media screen and (max-width: 321px) {
  .road__wrapper {
   
    grid-gap: 50px 18px;
}
}
