.road {
  overflow-x: hidden;
}

.road__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.road-line {
    position: absolute;
    top: 29rem;
    left: 0;
}

.road__wrapper {
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-gap: 74px 18px;
    position: relative;
    margin-bottom: 150px;
}

.title__road {
    padding-top: 115px;
    padding-bottom: 72px;
}

.road__item {
    font-family: FuturaDemiC;
    max-width: 389px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background: linear-gradient(90.11deg, #086FF5 -39.64%, #24B1FE 104.35%);

    }
    &-title {
        color: rgba(8, 111, 245, 1);
        font-size: 32px;
        line-height: 37px;
    }
    &-text {
        font-family: FuturaBookC;
        font-weight: 400;
        line-height: 27px;
        color: #949494;
        border-left: 1px solid #1691FA;
        font-size: 24px;
        min-height: 173px;
        padding-left: 14px;


    }
}

.border-text {
    font-family: FuturaBookC;
        font-weight: 400;
        line-height: 27px;
        color: #949494;
        border-left: 1px solid #1691FA;
        font-size: 24px;
        min-height: 198px;
        padding-left: 14px;
}

.road__item-title--2 {
    color: #FDFDFD;
}

.road__item-title--3 {
    font-family: FuturaDemiC;
    font-size: 32px;
    line-height: 37px;
    position: absolute;
    bottom: 0rem;
    right: 29rem;
    background: linear-gradient(88.64deg, #086FF5 -22.94%, rgba(36, 177, 254, 0.15) 105.79%);
    background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}


.road__buy {
    text-align: center;
    margin-top: 110px;
    margin: 0 auto;
    background: radial-gradient(56.24% 163.86% at 17.55% 182.14%, #2C354E 0%, #0E172E 100%);
border-radius: 30px;
max-width: 633px;
padding: 65px 55px;
margin-bottom: 96px;
&-title {
    font-size: 32px;
    line-height: 90%;
    margin-bottom: 24px;
}
}


@media (max-width: 1792px) {
  .road-line {
    width: 100%;
    height: 633px;
    top: 460px;
  }
}
@media (max-width: 1696px) {
  .border-text {
    line-height: 24px;
    min-height: 160px;
    font-size: 20px;
  }
  .road-line {
    width: 102%;
    height: 100%;
    top: 50px;
    left: -80px;
  }
}

@media (max-width: 1584px) {
  .road__wrapper {
    grid-template-columns: repeat(3, 4fr);
    align-self: center;
    // background-image: url(../../img/road-map.svg);
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    // background-position: top;
  }
  .road__inner .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }

  .road-line {
    display: none;
  }
  .road__item::before {
    position: absolute;
    height: 2px;
    width: 105%;
    bottom: -20px;
    background-color: #1691FA;
    content: ''
  }

}



@media (max-width: 1050px) {
  .road__item-text {
    font-size: 18px;

  }
  .border-text {
    line-height: 22px;
  }
  .road__item::before {
      width: 109%;
   }

}


@media (max-width: 916px) {
  .road__item-title--3 {
    right: 19rem;
  }
  .road__item-text {
    min-height: 210px;
  }
}


@media (max-width: 700px) {

  .road__inner .title.title__road {
    font-size: 24px;
    padding-top: 40px;
  }

  .road__item-title--3 {
    left: 50%;
    transform: translateX(-50%);
    bottom: -95px;
    right: auto;
  }
  .road__wrapper {
    grid-template-columns: repeat(2, 4fr);
  }
  .title__road {
    padding-bottom: 32px;
  }
}


@media (max-width: 500px) {
  .road__buy {
    padding: 35px 25px;
  }
  .road__buy-title {
    font-size: 24px;
  }
  .road__item::before {

    display: inline;
  }
  // .road__wrapper {
  //   background-image: url(../../img/road-map.svg);
  //   background-size: 100%;
  //   background-position: center;
  //   background-position-y: 380px;
  // }
  // .road__item:nth-child(3),   .road__item:nth-child(4) {
  //   margin-top: 80px;
  // }
  //
  // .road__item:nth-child(7),   .road__item:nth-child(8) {
  //   margin-top: 40px;
  // }

}


@media (max-width: 430px) {
  .road__item-text {
    font-size: 12px;
    line-height: 16px;
  }
  .road__item-title {
    font-size: 18px;
  }
  .road__item-text {
    min-height: 160px;
  }
  .road__item::before {
    width: 111%;
  }

}
