.sale {
    position: relative;
    padding-bottom: 70px;
    padding-top: 130px;
    overflow-x: hidden;
}


.sale__inner {
    position: relative;
}

.sale-ellipse {
    position: absolute;
    top: 10rem;
    left: -8rem;
    display: none;
}

.sale-ellipse--2 {
    position: absolute;
    top: 15rem;
    left: 8rem;
    display: none;
}

.sale-blur {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sale-blur--2 {
    position: absolute;
    right: 0;
    top: 50rem;
    display: none;
}

.sale-blur--3 {
    position: absolute;
    left: 0;
    bottom: 1rem;
    display: none;
}

.box-title .sale-title {
    position: absolute;
    top: 7rem;
}

.sale__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box-title.sale-title {
    top: 4rem;
    position: absolute;
    font-family: FuturaDemiC;
    font-weight: 600;
    left: 7rem;
    text-transform: revert;
    font-size: 72px;
    line-height: 80px;
    color: #fff;
    padding-bottom: 24px;
}

.sale__box {
    position: relative;
    background: #020C22;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 633px;
    min-height: 667px;
    padding: 68px 74px;
    font-family: FuturaDemiC;
    font-weight: 600;
    margin-bottom: 72px;
    border: 2px solid #949494;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 2px solid #24b1fe;
      transition: all 0.3s ease-in-out;
    }
    &-number {
        font-size: 72px;
        color: rgba(8, 111, 245, 1);
        padding-top: 16px;
        padding-bottom: 36px;

    }
    &-title {
        color: rgba(8, 111, 245, 1);
        font-weight: 600;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 8px;
    }
    &-text {
        margin-bottom: 24px;
    }


    &-date {
        font-size: 32px;
        line-height: 37px;
        border-bottom: 1px solid #949494;
        padding-bottom: 24px;
    }
    &-price {
        align-items: center;
        display: flex;
        padding-top: 24px;
        border-bottom: 1px solid #949494;
        padding-bottom: 24px;
        &__cost {
            font-size: 32px;
            line-height: 37px;
            padding-left: 44px;
        }
    }
    &-info {
        font-family: FuturaBookC;
        display: flex;
       padding: 24px 0;
       border-bottom: 1px solid #949494;
       .sale__box-info__percent-2{
           padding-left: 63px;
       }
    }


    .sale__box-condition {
        font-family: FuturaBookC;
        padding-top: 24px;
        font-size: 24px;
        line-height: 27px;
        color: #949494;
    }
}

.sale__box-list {
    font-family: FuturaBookC;
        padding-top: 24px;
        font-size: 24px;
        line-height: 27px;
        color: #949494;
        p {
            padding-top: 20px;
        }
}


.point-1 {
    position: absolute;
    top: 9rem;
    right: -2.78rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        left: -33px;
        width: 34px;
        z-index: -1;
    }
}

.point-2 {
    position: absolute;
    top: 12rem;
    right: -2.78rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        left: -33px;
        width: 34px;
        z-index: -1;
    }
}


.point-3 {
    position: absolute;
    top: 8rem;
    left: -2.8rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        right: -33px;
        width: 34px;
        z-index: -1;
    }
}

.point-4 {
    position: absolute;
    top: 12rem;
    left: -2.8rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        right: -33px;
        width: 34px;
        z-index: -1;
    }
}

.sale__wrapper-box--second {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border-right: 1px solid #949494;
        width: 200px;
        top: 9rem;
        left: -236px;
        height: 117rem;
        z-index: -1;

    }
}


@media screen and (max-width: 1450px) {
    .sale__box {
        margin-right: 75px;
    }
    .sale__box.point-2 {
        top: 12rem;
        right: -2.3rem !important;
    }
    .box-title.sale-title {
        left: 4rem;
    }
}

@media screen and (max-width: 1441px) {
    .sale__box {
        padding: 47px 30px;
    }
    .sale__wrapper-box--second::before {
        height: 114rem;
    }
}

@media screen and (max-width: 1406px) {
    .box-title.sale-title {
        left: 2rem;
    }
}


@media screen and (max-width: 1374px) {
    .sale__box-number {
        font-size: 55px;
        padding-bottom: 17px;
    }
    .sale__box-title {
        font-size: 28px;
    }
    .sale__wrapper-box--second::before {
        height: 113rem;
    }
}

@media screen and (max-width: 1366px) {
    .box-title.sale-title {
        left: 2rem;
        font-size: 61px;
    }
}


@media screen and (max-width: 1274px) {
    .percent__esp {
        font-size: 19px;
    }
}
@media screen and (max-width: 1255px) {
    .sale__wrapper-box--second::before {
        height: 115rem;
    }
}
@media screen and (max-width: 1241px) {
    .sale__wrapper-box--second::before {
        height: 117rem;
    }
}

@media screen and (max-width: 1229px) {
    .sale__box-date {
        font-size: 29px;
        padding-bottom: 25px;
    }
    .sale__box-price__text {
        width: 50px;
    }
    .sale__box-price__cost {
        font-size: 26px;
        line-height: 37px;
        padding-left: 100px;
    }
    .sale__box-list {
        font-size: 20px;
        p {
            padding-top: 4px;
        }
    }
    .percent__info {
        padding-bottom: 11px;
    }

        .percent__info {
            padding-bottom: 25px;
        }
        .sale-title {
            font-size: 59px;
        }
        .sale__wrapper-box--second::before {
            height: 108rem;
        }

}


@media screen and (max-width: 1167px) {
    .box-title.sale-title {
        left: 1rem;
        font-size: 54px;
    }
}


@media screen and (max-width: 1100px) {
    .sale__wrapper {
        display: block;
    }
    .point-1 {
        position: absolute;
        top: 9rem;
        left: -2.78rem;
    }
    .point-1::before {
        left: 13px;
    }
    .box-title.sale-title {
        left: 18rem;
        font-size: 54px;
        top: 3rem;
    }
    .point-2 {
        position: absolute;
        top: 9rem;
        left: -2.78rem;
    }
    .point-2::before {
        left: 13px;
    }
    .sale__wrapper-box--second::before {
        top: -83rem;
        height: 198rem;
 }
 .sale-title {
    font-size: 59px;
    margin-top: -10rem;
}
}

@media screen and (max-width: 1074px) {
    .sale__wrapper-box--second::before {
        top: -82rem;
        height: 197rem;
    }
}

@media screen and (max-width: 1029px) {
    .box-title.sale-title {
        left: 15rem;
        font-size: 54px;
        top: 3rem;
    }
}


@media screen and (max-width: 952px) {
    .box-title.sale-title {
        left: 12rem;
    }
}


@media screen and (max-width: 900px) {
    .point-2::before {
        left: 7px;
        top: 50%;
    width: 37px;
    }
    .point-1::before {
        left: 8px;
        top: 50%;
        width:35px;
    }
    .point-3::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 49%;
        right: -35px;
        width: 38px;
        z-index: -1;
    }
    .point-4::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 50%;
        right: -36px;
        width: 37px;
        z-index: -1;
    }
    .sale__wrapper-box--second::before {
        top: -82rem;
        height: 197.2rem;
    }
}
@media screen and (max-width: 854px) {
    .box-title.sale-title {
        left: 9rem;
    }

}



@media screen and (max-width: 779px) {
    .box-title.sale-title {
        left: 7rem;
    }
}


@media screen and (max-width: 696px) {
    .box-title.sale-title {
        left: 5rem;
    }
}


@media screen and (max-width: 679px) {
    .sale__wrapper-box--second::before {
        height: 199rem;
    }
}

@media screen and (max-width: 672px) {
    .box-title.sale-title {
        left: 5rem;
        font-size: 48px;
        top: 3rem;
    }
}

@media screen and (max-width: 664px) {
    .sale__wrapper-box--second::before {
        height: 201rem;
        top: -84rem;
    }
}

@media screen and (max-width: 651px) {
    .sale__wrapper-box--second::before {
        height: 201.6rem;
        top: -85rem;
    }
}
@media screen and (max-width: 626px) {
    .sale__wrapper-box--second::before {
        height: 204.6rem;
        top: -87rem;
    }
    .sale {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .sale__wrapper-box {
        margin-top: 3rem;
    }
    .box-title .sale-title {
        padding-top: 20px;
    }
}


@media screen and (max-width: 605px) {
    .box-title.sale-title {
        left: 3rem;
    }
    
}

@media screen and (max-width: 604px) {
    .sale__wrapper-box--second::before {
        height: 206.6rem;
        top: -87rem;
    }
    
}
@media screen and (max-width: 600px) {
    .box-title.sale-title {
        left: 3rem;
        font-size: 48px;
        top: 3rem;
    }
    .benefit .benefit__box-second::before {
        height: 108rem;
        top: -45rem;
        left: 16px;
    }
}



@media screen and (max-width: 559px) {
    .sale__wrapper-box--second::before {
        height: 212.6rem;
        top: -89rem;
    }
}
@media screen and (max-width: 545px) {
    .sale__wrapper-box--second::before {
        height: 213.6rem;
        top: -90rem;
    }
}
@media screen and (max-width: 539px) {

    .sale__wrapper-box--second::before {
        height: 214.6rem;
        top: -90rem;
    }
}
@media screen and (max-width: 535px) {

    .box-title.sale-title {
    left: 3rem;
    font-size: 40px;
    top: 3rem;
}
}
@media screen and (max-width: 534px) {
    .sale-title {
        font-size: 49px;

    }
}

@media screen and (max-width: 531px) {
    .sale__box {
        margin-left: 0;
    }
    .sale__wrapper-box {
        margin-left: 43px;
    }
    .point-1::before {
        left: 9px;
        top: 51%;
    }
    .sale__wrapper-box--second::before {
        height: 169.6rem;
        top: -66.6rem;
    }
    .point-2::before {
        left: 9px;
        top: 51%;
 }
 .box-title.sale-title {
    left: 6rem;
    font-size: 40px;
    top: 4rem;
}
 .point-3::before {
     top: 50%;
 }
 .point-4::before {
    top: 49%;
    right: -34px;
 }
 .sale__wrapper-box--second::before {
     left: -238px;
 }
 .sale__box-number {
    font-size: 41px;
    padding-bottom: 5px;
}
.sale__box {
    padding: 28px 15px;
    min-height: 0;
}
.sale__box-title {
    font-size: 24px;
}
.sale__box-text {
    font-size: 20px;
    margin-bottom: 8px;
}
.sale__box-date {
    font-size: 22px;
    padding-bottom: 8px;
}
.sale__box-price {
    justify-content: space-between;
}
.percent__info {
    font-size: 18px;
    padding-bottom: 10px;
}

.sale__box .sale__box-condition {
    font-size: 18px;
}

}


@media screen and (max-width: 521px) {
    .sale__wrapper-box--second::before {
        height: 174.6rem;
        top: -68rem;
    }
}
@media screen and (max-width: 515px) {
    .sale__wrapper-box--second::before {
        height: 176.6rem;
        top: -70rem;
    }
}
@media screen and (max-width: 504px) {
    
    .sale__wrapper-box--second::before {
        height: 178rem;
        top: -71.5rem;
    }
}

@media screen and (max-width: 499px) {
    .sale-title {
        font-size: 32px;
        margin-left: 67px;
    }
    .sale__box-number {
        font-size: 32px;
        padding-bottom: 8px;
    }
    .sale__box-title {
        font-size: 18px;
    }
    .sale__box-text {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .sale__box-price__text {
        font-size: 14px;
        width: auto;
    }
    .sale__box-price__cost {
        font-size: 14px;
        line-height: 37px;
    }
    .percent__info {
        font-size: 14px;
        padding-bottom: 0;
    }
    .percent__esp {
        font-size: 14px;
    }
    .sale__box-info .sale__box-info__percent-2 {
        padding-left: 0;
    }
    .sale__box-info {
        display: block;
    }
    .sale__box .sale__box-condition {
        font-size: 14px;
    }
    .sale__box {
        min-width: 259px;

    }
    .sale__box-list {
        font-size: 14px;
    }
    .sale__box-price__cost  {
        padding-left: 0;
    }
    .sale__wrapper-box--second::before {
        height: 173rem;
        top: -69.5rem;
    }
    .box-title.sale-title {
        left: 0rem;
        font-size: 32px;
        top: 2rem;
    }
    .box-title.sale-title {
        left: 2rem;
        font-size: 32px;
        top: 4rem;
    }

}

@media screen and (max-width:446px) {
    .sale-title {
        font-size: 32px;
        margin-left: 37px;
    }
    .box-title.sale-title {
        left: 3rem;
        font-size: 32px;
        top: 4rem;
    }
}
@media screen and (max-width:440px) {
    .sale__wrapper-box--second::before {
        height: 175rem;
        top: -71.5rem;
    }
}
@media screen and (max-width:432px) {
    
    .sale__wrapper-box {
        margin-left: 38px;
    }
}
@media screen and (max-width:429px) {
    .sale__wrapper-box--second::before {
        height: 176.8rem;
        top: -73rem;
    }
}

@media screen and (max-width:424px) {
    .sale__wrapper-box--second::before {
        height: 178.2rem;
        top: -73rem;
    }
}
@media screen and (max-width:422px) {
    .sale-title {
        font-size: 32px;
        margin-left: 26px;
    }
}
@media screen and (max-width:421px) {
    .sale__wrapper-box--second::before {
        height: 178rem;
    }
}
@media screen and (max-width:418px) {
    .sale__wrapper-box--second::before {
        height: 180rem;
    }
}
@media screen and (max-width:375px) {
    .box-title.sale-title {
        left: 2rem;
        font-size: 32px;
        top: 4rem;
    }
}
@media screen and (max-width:342px) {
    .sale-title {
        font-size: 32px;
        margin-left: 0px;
    }
    .box-title.sale-title {
        left: 3rem;
        font-size: 32px;
        top: 4rem;
    }
}
@media screen and (max-width:340px) {
    .benefit .benefit__box-second::before {
        height: 108rem;
        top: -45rem;
        left: 1px;
    }
}
@media screen and (max-width:336px) {
    
    .box-title.sale-title {
        left: 2rem;
        font-size: 32px;
        top: 4rem;
    }
}
