.sale {
    position: relative;
    padding-bottom: 70px;
    padding-top: 130px;
    overflow-x: hidden;
}


.sale__inner {
    position: relative;
}

.sale-ellipse {
    position: absolute;
    top: 10rem;
    left: -8rem;
    display: none;
}

.sale-ellipse--2 {
    position: absolute;
    top: 15rem;
    left: 8rem;
    display: none;
}

.sale-blur {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sale-blur--2 {
    position: absolute;
    right: 0;
    top: 50rem;
    display: none;
}

.sale-blur--3 {
    position: absolute;
    left: 0;
    bottom: 1rem;
    display: none;
}

.box-title .sale-title {
    position: absolute;
    top: 7rem;
}

.ellipse-title {
    position: absolute;
    top: 0;
}

.sale__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box-title.sale-title {
    top: 4rem;
    position: absolute;
    font-family: FuturaDemiC;
    font-weight: 600;
    left: 7rem;
    text-transform: revert;
    font-size: 72px;
    line-height: 80px;
    color: #fff;
    padding-bottom: 24px;
}

.sale__box {
    position: relative;
    background: #020C22;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 633px;
    min-height: 667px;
    padding: 68px 74px;
    font-family: FuturaDemiC;
    font-weight: 600;
    margin-bottom: 72px;
    border: 2px solid #949494;
    transition: all 0.3s ease-in-out!important;

    &:hover {
      border: 2px solid #24b1fe;
      transition: all 0.3s ease-in-out!important;
    }
    &-number {
        font-size: 72px;
        background: linear-gradient(90.35deg, #086FF5 -26.99%, #24B1FE 52.73%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;

        padding-top: 18px;
        padding-bottom: 36px;

    }
    &-title {
        background: linear-gradient(90.35deg, #086FF5 -26.99%, #24B1FE 52.73%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
        font-weight: 600;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 8px;
    }
    &-text {
        margin-bottom: 24px;
    }


    &-date {
        font-size: 32px;
        line-height: 37px;
        border-bottom: 1px solid #949494;
        padding-bottom: 24px;
    }
    &-price {
        align-items: center;
        display: flex;
        padding-top: 24px;
        border-bottom: 1px solid #949494;
        padding-bottom: 24px;
        &__cost {
            font-size: 32px;
            line-height: 37px;
            padding-left: 44px;
        }
    }
    &-info {
        font-family: FuturaBookC;
        display: flex;
       padding: 24px 0;
       border-bottom: 1px solid #949494;
       .sale__box-info__percent-2{
           padding-left: 63px;
       }
    }


    .sale__box-condition {
        font-family: FuturaBookC;
        padding-top: 24px;
        font-size: 24px;
        line-height: 27px;
        color: #949494;
    }
}

.sale__box-list {
    font-family: FuturaBookC;
        padding-top: 24px;
        font-size: 24px;
        line-height: 27px;
        color: #949494;
        p {
            padding-top: 20px;
        }
}


.point-1 {
    position: absolute;
    top: 9rem;
    right: -2.78rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        left: -33px;
        width: 34px;
        z-index: -1;
    }
}

.point-2 {
    position: absolute;
    top: 12rem;
    right: -2.78rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        left: -33px;
        width: 34px;
        z-index: -1;
    }
}


.point-3 {
    position: absolute;
    top: 8rem;
    left: -2.8rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        right: -33px;
        width: 34px;
        z-index: -1;
    }
}

.point-4 {
    position: absolute;
    top: 12rem;
    left: -2.8rem;
    &::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 40%;
        right: -33px;
        width: 34px;
        z-index: -1;
    }
}

.sale__wrapper-box--second {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border-right: 1px solid #949494;
        width: 200px;
        top: 9rem;
        left: -236px;
        height: 117rem;
        z-index: -1;

    }
}


@media screen and (max-width: 1450px) {
    .sale__box {
        margin-right: 75px;
    }
    .sale__box.point-2 {
        top: 12rem;
        right: -2.3rem !important;
    }
    .box-title.sale-title {
        left: 4rem;
    }
}

@media screen and (max-width: 1441px) {
    .sale__box {
        padding: 47px 30px;
    }
    .sale__wrapper-box--second::before {
        height: 114rem;
    }
}

@media screen and (max-width: 1406px) {
    .box-title.sale-title {
        left: 2rem;
    }
}


@media screen and (max-width: 1374px) {
    .sale__box-number {
        font-size: 55px;
        padding-bottom: 17px;
    }
    .sale__box-title {
        font-size: 28px;
    }
    .sale__wrapper-box--second::before {
        height: 113rem;
    }
}

@media screen and (max-width: 1366px) {
    .box-title.sale-title {
        left: 2rem;
        font-size: 61px;
    }
}


@media screen and (max-width: 1274px) {
    .percent__esp {
        font-size: 19px;
    }
}
@media screen and (max-width: 1255px) {
    .sale__wrapper-box--second::before {
        height: 115rem;
    }
}
@media screen and (max-width: 1241px) {
    .sale__wrapper-box--second::before {
        height: 117rem;
    }
}

@media screen and (max-width: 1229px) {
    .sale__box-date {
        font-size: 29px;
        padding-bottom: 25px;
    }
    .sale__box-price__text {
        width: 50px;
    }
    .sale__box-price__cost {
        font-size: 26px;
        line-height: 37px;
        padding-left: 100px;
    }
    .sale__box-list {
        font-size: 20px;
        p {
            padding-top: 4px;
        }
    }
    .percent__info {
        padding-bottom: 11px;
    }

        .percent__info {
            padding-bottom: 25px;
        }
        .sale-title {
            font-size: 59px;
        }
        .sale__wrapper-box--second::before {
            height: 108rem;
        }

}


@media screen and (max-width: 1167px) {
    .box-title.sale-title {
        left: 1rem;
        font-size: 54px;
    }
}

@media screen and (min-width: 1100px) {
    .sale__wrapper-mob {
        display: none;
    }
}


@media screen and (max-width: 1100px) {
    .sale__wrapper-mob {
        display: block;
    }

    .sale__wrapper {
        display: none;
    }

    .point-1 {
        position: absolute;
        top: 9rem;
        left: -2.78rem;
    }
    .point-1::before {
        left: 13px;
    }
    .box-title.sale-title {
        left: 50%;
        transform: translateX(-50%) !important;
        font-size: 53px;
        width: 410px;
    }
    .point-2 {
        position: absolute;
        top: 9rem;
        left: -2.78rem;
    }
    .point-2::before {
        left: 13px;
    }
    .sale__wrapper-box--second::before {
        top: 9rem;
        height: 199rem;
    }
 .sale-title {
    font-size: 59px;
    margin-top: -10rem;
}
}

@media screen and (max-width: 1024px) {
    .pp {
        width: 15px !important;
        height: 15px !important;
    }
}







@media screen and (max-width: 900px) {
    .point-2::before {
        left: 7px;
        top: 50%;
    width: 37px;
    }
    .point-1::before {
        left: 8px;
        top: 50%;
        width:35px;
    }
    .point-3::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 49%;
        right: -35px;
        width: 38px;
        z-index: -1;
    }
    .point-4::before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid #949494;
        top: 50%;
        right: -36px;
        width: 37px;
        z-index: -1;
    }

}




@media screen and (max-width: 700px) {

    .box-title.benefit-title, .box-title.sale-title {
        font-size: 42px;
    }
}


@media screen and (max-width: 682px) {
    .sale__wrapper-box--second::before {
        top: 9rem;
        height: 201rem;
    }
}

@media screen and (max-width: 679px) {
    .sale__wrapper-box--second::before {
        height: 201rem;
    }


}



@media screen and (max-width: 666px) {
    .sale__wrapper-box--second::before {
        height: 202rem;
    }
}

@media screen and (max-width: 653px) {
    .sale__wrapper-box--second::before {
        height: 204rem;
    }
}
@media screen and (max-width: 650px) {
    .box-title.sale-title.aos-init.aos-animate {
        font-size: 52px;
        width: 365px;
    }
}
@media screen and (max-width: 628px) {
    .sale__wrapper-box--second::before {
        height: 206rem;
    }
}
@media screen and (max-width: 626px) {

    .sale {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .sale__wrapper-box {
        margin-top: 3rem;
    }
    .box-title .sale-title {
        padding-top: 20px;
    }
}




@media screen and (max-width: 604px) {
    .sale__wrapper-box--second::before {
        height: 208rem;
    }




}




@media screen and (max-width: 596px) {
    .sale__wrapper-box--second::before {
        height: 209.6rem;
    }
}

@media screen and (max-width: 576px) {
    .sale__wrapper-box--second::before {
        height: 212rem;
    }
}
@media screen and (max-width: 561px) {
    .sale__wrapper-box--second::before {
        height: 213.5rem;
    }
}
@media screen and (max-width: 550px) {
    .box-title.sale-title.aos-init.aos-animate {
        font-size: 42px;
        width: 295px;
    }
}
@media screen and (max-width: 547px) {
    .sale__wrapper-box--second::before {
        height: 215.5rem;
    }
}
@media screen and (max-width: 539px) {
    .sale__wrapper-box--second::before {
        height: 216.5rem;
    }

}
@media screen and (max-width: 535px) {

    .box-title.sale-title {
    font-size: 40px;
}
}
@media screen and (max-width: 534px) {
    .sale-title {
        font-size: 49px;

    }
}

@media screen and (max-width: 531px) {
    .sale__box {
        margin-left: 0;
    }
    .sale__wrapper-box {
        margin-left: 43px;
    }
    .point-1::before {
        left: 9px;
        top: 51%;
    }

    .point-2::before {
        left: 9px;
        top: 51%;
 }

 .point-3::before {
     top: 50%;
 }
 .point-4::before {
    top: 49%;
    right: -34px;
 }
 .sale__wrapper-box--second::before {
     left: -238px;
 }
 .sale__box-number {
    font-size: 41px;
    padding-bottom: 5px;
}

.sale__wrapper-box--second::before {
    height: 171rem;
}
.sale__box {
    padding: 28px 15px;
    min-height: 0;
}
.sale__box-title {
    font-size: 24px;
}
.sale__box-text {
    font-size: 20px;
    margin-bottom: 8px;
}
.sale__box-date {
    font-size: 22px;
    padding-bottom: 8px;
}
.sale__box-price {
    justify-content: space-between;
}
.percent__info {
    font-size: 18px;
    padding-bottom: 10px;
}

.sale__box .sale__box-condition {
    font-size: 18px;
}

}


@media screen and (max-width: 527px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 172.5rem;
    }
}

@media screen and (max-width: 523px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 176rem;
    }
}
@media screen and (max-width: 521px) {

}
@media screen and (max-width: 517px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 178rem;
    }
}
@media screen and (max-width: 506px) {

    .sale__wrapper-box--second::before {
        left: -238px;
        height: 179rem;
    }

}

@media screen and (max-width: 499px) {

    .sale__box-number {
        font-size: 32px;
        padding-bottom: 8px;
    }
    .sale__box-title {
        font-size: 18px;
    }
    .sale__box-text {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .sale__box-price__text {
        font-size: 14px;
        width: auto;
    }
    .sale__box-price__cost {
        font-size: 14px;
        line-height: 37px;
    }
    .percent__info {
        font-size: 14px;
        padding-bottom: 0;
    }
    .percent__esp {
        font-size: 14px;
    }
    .sale__box-info .sale__box-info__percent-2 {
        padding-left: 0;
    }
    .sale__box-info {
        display: block;
    }
    .sale__box .sale__box-condition {
        font-size: 14px;
    }
    .sale__box {
        min-width: 259px;

    }
    .sale__box-list {
        font-size: 14px;
    }
    .sale__box-price__cost  {
        padding-left: 0;
    }

    .box-title.sale-title {
        font-size: 32px;

    }


    .sale__wrapper-box--second::before {
        left: -238px;
        height: 174rem;
    }

}




@media screen and (max-width:450px) {

    .box-title.sale-title.aos-init.aos-animate {
        font-size: 32px;
        width: 225px;
    }
}
@media screen and (max-width:446px) {
    .sale-title {
        font-size: 32px;
        margin-left: 37px;
    }

}
@media screen and (max-width:442px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 176rem;
    }
}
@media screen and (max-width:434px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 178rem;
    }
}
@media screen and (max-width:432px) {

    .sale__wrapper-box {
        margin-left: 38px;
    }
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 176rem;
    }
}
@media screen and (max-width:429px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 177.5rem;
    }
}

@media screen and (max-width:424px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 179.5rem;
    }
}
@media screen and (max-width:422px) {
    .sale-title {
        font-size: 32px;
        margin-left: 26px;
    }

}
@media screen and (max-width:421px) {


}
@media screen and (max-width:418px) {
    .sale__wrapper-box--second::before {
        left: -238px;
        height: 180.7rem;
    }
}

@media screen and (max-width:342px) {
    .sale-title {
        font-size: 32px;
        margin-left: 0px;
    }

}
