@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
@import 'variables/*.scss';


.header {
    transition: all .6s ease-in-out;

    position: fixed;
    width: 100%;
    z-index: 555;
    padding-bottom: 20px;
    &-wrapper {
      height: 80px;
    }
    &.fixed {
        transition: all .6s ease-in-out;
      background-color: rgba(0,0,0, .5);
      padding-bottom: 20px;
    }


    .burger {
        width: 26px;
        z-index: 1;
        transition: transform 0.3s;
        &__line {
            transition: transform 0.3s;
            margin-bottom: 5px;
            height: 3px;
            background: linear-gradient(90.35deg, #086FF5 -26.99%, #24B1FE 52.73%);
        }
    }
    &__inner {
        transition: all .6s ease-in-out;
        font-family: 'FuturaDemiC';
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;

    }

    .burger.open{
        margin-top: 7px;

        transition: transform 0.3s;
        .burger__line:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: 38% 146%;
            transition: transform 0.3s;
        }
        .burger__line:nth-of-type(2){
            display: none;
        }
        .burger__line:nth-of-type(3){
            transform: rotate(
                -45deg);
                transform-origin: 29% -90%;
            transition: transform 0.3s;
        }
    }




    &__nav {
        display: flex;
        a {
            padding-left: 24px;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            transition: .3s ease-in-out;
            &:hover {
                color: #24B1FE;
            }
        }
    }


    &__language {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        margin-top: 5px;
        padding-left: 8px;
        a {
            color: #253048;
        }
        .en {
            color: #fff;
            padding-left: 8px;
        }
    }
    &__social {
       padding-right: 10px;
       padding-top: 4px;
        svg {
            margin-left: 20px;
        }
    }
    &__btn {
        .external {

            display: block;
            padding: 3px 3px 3px 3px;
            text-align: center;
            margin: 0 auto;
            color: rgba(16, 131, 248, 1);
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            border-radius: 5px;
            background: linear-gradient(90.11deg, #086FF5 -39.64%, #24B1FE 104.35%);
            transition: all .3s ease-in-out;
            &:hover {
                transition: all .3s ease-in-out;
                background-position: right;
                color: #24B1FE;
                box-shadow: 4px 4px 10px #24B1FE;
            }
            .internal {
                padding: 13px 33px;
                border-radius: 5px;
                background: rgba(2, 12, 34, 1);
            }
        }
    }
}



.footer {
    background: #000817;
    &__inner {
        padding-top: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px 29px;
        font-family: FuturaDemiC;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        a {
            color: #fff;
            transition: .3s;
            &:hover {
                color: #24B1FE;
             }
        }
    }

    &__social {
        a {
            padding-right: 24px;
        }
    }
}

.copy__mail {
    a {
        color: #fff;
        &:hover {
            color: rgba(255, 255, 255, 0.699);
        }
    }
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -500;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: rgba(0,0,0, .5);
    z-index: 500;
  transition: all 0.3s ease-in-out;
  }
}

.footer__box-buy {
    display: flex;
    justify-content: space-between;
   .market {
       padding-right: 8px;
   }
}

.footer__copy {
    padding-top: 55px;
    padding-bottom: 42px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
}

.copy__image {
    padding: 0 8px;
    margin-top: 4px
}

@media screen and (max-width: 1440px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    .header__logo {
        img {
            width: 72%;
        }
    }
    .header__language {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding-left: 15px;
    }
    .header__nav  {
        padding-left: 0;
        a {
        padding-left: 10px;
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        padding-right: 5px;
        }
    }
}

@media screen and (max-width: 1420px) {
     .box-title  {
        font-size: 58px;
        line-height: 70px;
    }
     .title  {
        font-size: 58px;
        line-height: 70px;
    }
    .home__inner {
        padding-bottom: 95px;
    }
    .box-title.sale-title {
        font-size: 58px;
    }
    .box-title.benefit-title {
        font-size: 58px;
    }
}

@media screen and (max-width: 1325px) {
    .header__logo {
        width: 17%;
        img {
            width: 100%;
        }

    }
}

@media screen and (max-width: 1290px) {
    .header__logo {
        max-width: 250px;
    }
    .box-title {
        font-size: 57px;
    }
    .main__box-text {
        font-size: 25px;
    }
    .main__box-item {
        font-size: 17px;
    }
    .header__btn {
        .external {
        font-size: 17px;
        }
    }
    .header__btn .external .internal {
        padding: 9px 23px;
    }
    .header__social {
        svg {
            width: 15px;
            height: 15px;
            
        }
    }
}


@media screen and (max-width: 1220px) {
    .header__logo {
        max-width: 234px;
    }
}


@media screen and (max-width: 1204px) {
    .header__logo {
        max-width: 211px;
    }

}

@media screen and (max-width: 1200px) {
    .header__social svg {
        margin-left: 4px;
    }
    .header__nav a {
        font-size: 14px;
    }
    .header__language {
        font-size: 14px;
    }

    .btn {
        font-size: 21px;
        padding: 22px 76px;
    }

}

@media screen and (max-width: 1153px) {
    .box-title.sale-title {
        font-size: 47px;
        line-height: 52px;
    }
    .box-title.benefit-title {
        font-size: 47px;
        line-height: 52px;
    }

}
@media screen and (max-width: 1152px) {
    .box-title.sale-title {
        font-size: 47px;
        line-height: 52px;
    }
    .box-title.benefit-title {
        font-size: 44px;
        line-height: 48px;
    }

}
@media screen and (min-width: 1101px) {
    .header__inner-mobile {
        display: none;
    }

}



@media screen and (max-width: 1100px) {
    .header {
    height: 84px;
position: fixed;
width: 100%;
z-index: 555;
&-wrapper {
  height: 80px;
}
&.fixed {
  background-color: rgba(0,0,0, .5);
  padding-bottom: 20px;
}
}

.header__logo img {
    width: 72%;
}
    .header__inner-mobile {
        display: flex;
        font-family: 'FuturaDemiC';
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        // position: fixed;
        // width: 100%;
        // max-width: 92%;
        // z-index: 55555;
    }
    .header__mobile-item {
        display: flex;
        align-items: center;
    }
    .btn-mob {
        padding: 0 16px;
    }
    .header__inner {
     display: none;
    }
    .mobile__menu {
        width: 300px;
        padding: 1rem 1rem;
        height: 220px;
        border: 5px solid #1083f8;;
        border-right: 0;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        bottom: 0;
        margin: auto;
        right: 0;
        background: #020C22;
        color: #f8f8f8;
        z-index: 520;
        transition: .5s ease-in-out;
        transform: translate(170%, -50%);
        visibility: hidden;
        opacity: 0;
        img {
            width: 107px;
        }
        li {
            text-align: right;
        }
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
           line-height: 19px;
        }
        ul {
            width: 100%;
        }
      }
      .mobile__menu.open {
        -webkit-transform: translate(0, -50%);
        -ms-transform    : translate(0, -50%);
        transform        : translate(0, -50%);
        opacity          : 1;
        visibility       : visible
      }

      .home {
          margin-bottom: 94px;
      }
      .box-title  {
        font-size: 52px;
        line-height: 70px;
    }
     .title  {
        font-size: 52px;
        line-height: 70px;
    }

    .box-title.sale-title {
        font-size: 52px;
    }

    .box-title.home-title {
        font-size: 52px;
        line-height: 70px;
        max-width: 600px;
    }
    .title.app-title {
        font-size: 52px;
    }

}

.gmail-svg {
    fill: #fff;
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    .title.map__title.aos-init.aos-animate {
        font-size: 53px;

    line-height: 51px;
    }
}


@media screen and (max-width: 873px) {
    .title.platform__title.aos-init.aos-animate {
        font-size: 42px;
        padding-bottom: 120px;
    }
    .box-title, .title {
        font-size: 42px;
    }
    .box-text {
        font-size: 26px;
    }
    .box-title.benefit-title, .box-title.sale-title {
        font-size: 42px;
        line-height: 42px;
    }
    .title.system__title {
        font-size: 42px;
        line-height: 75%;
    }
    .title.app-title {
        font-size: 42px;
    }
    box-text.app-text {
        font-size: 24px;
        padding-bottom: 104px;
    }
    .title.map__title.aos-init.aos-animate {
        font-size: 42px;
        line-height: 42px;
    }
    .box-title.sale-title {
        width: 301px;
    }
}

@media screen and (max-width: 800px) {
    .box-title  {
        font-size: 48px;
        line-height: 70px;
    }
    .box-title.home-title {
        font-size: 48px;
        line-height: 70px;
        max-width: 600px;
    }
}
@media screen and (max-width: 731px) {
    .box-title {
        font-size: 49px;
    }
    .metrics {
      overflow-x: hidden;
    }
    .btn {
        font-size: 21px;
        padding: 20px 30px;
    }
    .main__box .google-play {
        margin: 5px 10px 0 15px;
    }
    .header__logo {
        max-width: 200px;
    }
    .main__box-buy {
        img {
            width: 100%;
        }
    }
    .header__btn .external .internal {
        padding: 6px 16px;
    }
    .main__box-item {
        font-size: 24px;
        line-height: 27px;
        padding-top: 9px;
        position: relative;
        padding-left: 45px;
    }
}

@media screen and (max-width: 700px)  {
    .box-title.home-title {
        font-size: 46px;
        line-height: 56px;
        max-width: 600px;
    }
}
@media screen and (max-width: 600px)  {
    .box-title.home-title {
        font-size: 41px;
        line-height: 56px;
        max-width: 600px;
    }
    .title.title-mob {
        font-size: 41px;
    }
}
@media screen and (max-width: 531px)  {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-title {
        font-size: 39px;
        line-height: 48px;
    }
    .header__logo {
        max-width: 176px;
    }
    .header__btn .external, .main__box-item {
        font-size: 14px;
    }
    .header__btn .external .internal {
        padding: 6px 12px;
    }
    .header__language {
        padding-left: 5px;
        font-size: 12px;
    }
    .main__box-buy img {
        width: 120px;
    }
    .main__box {
        padding-top: 30px;
    }
    .home__inner {
        background-position-x: -539px;
        background-position-y: 58px;
    }
}

@media screen and (max-width: 490px) {
    .header__logo-mob {
        max-width: 200px;
    }


}
@media screen and (max-width: 484px) {
    .main__box-buy {
        padding-top: 12px;
    }
    .btn {
        font-size: 16px;
        padding: 11px 24px;
    }
    .main__box-buy img {
        width: 100px;
    }
    .main__box-text {
        font-size: 18px;

    }
}

@media screen and (max-width: 464px) {
    .header__logo {
        max-width: 112px;
    }
    .header__btn .external, .main__box-item {
        font-size: 12px;
    }
    .header__btn .external .internal {
        padding: 4px 10px;
    }
    .header__logo img {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .box-title {
        font-size: 35px;
        line-height: 48px;
    }
    .title.distribution__title{
        line-height: 38px;
    }
}

@media screen and (max-width: 408px) {
    .box-title {
        font-size: 30px;
        line-height: 38px;
    }
}
@media screen and (max-width: 400px) {
    .box-title.home-title {
        font-size: 32px;
        line-height: 43px;
        max-width: 600px;
    }
    .title.platform__title.aos-init.aos-animate {
        font-size: 32px;
        padding-bottom: 120px;
    }
    .box-title.benefit-title, .box-title.sale-title {
        font-size: 32px;
        line-height: 36px;
    }
    .title.system__title {
        font-size: 32px;
        line-height: 82%;
    }
    .header__logo-mob {
        max-width: 123px;
    }
    .title.title-mob {
        font-size: 32px;
    }
    .title.app-title.aos-init.aos-animate {
        font-size: 32px;
    }
    .title.map__title.aos-init.aos-animate {
        font-size: 32px;
        line-height: 42px;
    }

}

@media screen and (max-width: 395px) {
    .main__box-buy img {
        width: 88px;
    }
    .btn {
        font-size: 14px;
        padding: 8px 27px;
    }
    .box-title.benefit-title, .box-title.sale-title {
        font-size: 32px;
    }

}


@media screen and (max-width: 335px) {
    .main__box-buy img {
        width: 78px;
    }
}

@import "./footer-media.scss"
