@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
@import 'variables/*.scss';


.header {
    &__inner {
        font-family: 'FuturaDemiC';
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 72px;
    }
    &__nav {
        display: flex;
        a {
            padding-left: 24px;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }
    &__language {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        a {
            color: #253048;
        }
        .en {
            color: #fff;
            padding-left: 8px;
        }
    }
    &__social {
       padding-right: 10px;
        svg {
            margin-left: 20px;
        }
    }
    &__btn {
        .external {
            
            display: block;
            padding: 3px 3px 3px 3px;
            text-align: center;
            margin: 0 auto;
            color: rgba(16, 131, 248, 1);
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            border-radius: 4px;
            background: linear-gradient(90.11deg, #086FF5 -39.64%, #24B1FE 104.35%);
            .internal {
                padding: 13px 33px;
                background: rgba(2, 12, 34, 1);
            }
        }
    }
}