.token {
    position: relative;
    padding-bottom: 280px;

}

.token__box {
    background: radial-gradient(56.24% 163.86% at 17.55% 182.14%, #2C354E 0%, #0E172E 100%);
    border-radius: 30px;
    width: 100%;
    max-height: 392px;
    display: flex;

    &-wrapper {
        padding: 62px 0 63px 130px;
        max-width: 769px;
    }
    &-title {
       padding-bottom: 40px;
        font-family: FuturaDemiC;
        font-weight: 600;
        font-size: 32px;
        line-height: 90%;
        color: #FFFFFF
    }
    &-text {
        font-size: 32px;
        line-height: 90%;

    }
    .token-btn {
        margin-top: 64px;
    }
}

.token-phone {
    margin-top: -30px;
}

.token__box .token-btn {
    margin-top: 24px;
}

@media screen and (max-width:1377px) {
    .token__box-title {
        font-size: 26px;
    line-height: 98%;
    }
    .token__box-text {
        font-size: 26px;
        line-height: 84%;
    }
    .token-phone img {
        width: 551px;
    }
}

@media screen and (max-width: 1269px) {
    .token-phone img{
        width: 500px;
    }
}

@media screen and (max-width: 1178px) {
    .token-phone img{
        margin-top: 0px;
        width: 464px;
    }
    .token__box-title {
        font-size: 22px;
        line-height: 98%;
    }
    .token__box-text {
        font-size: 22px;
        line-height: 84%;
    }
}

@media screen and (max-width: 1100px) {
    .token__box {
        display: block;
        text-align: center;
    }
    .token__box-wrapper {
        padding: 62px 63px 63px 63px;
        max-width: 100%;
    }
    .token-phone img {
        margin-top: -30px;
        width: 400px;
    }
    .btn.btn-token {
        margin: 0 auto;
    }
}

@media screen and (max-width: 668px) {
    .token__box .token-btn {
        margin-top: 8px;
    }
    .token__box-title {
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 541px) {
    .token-phone img {

        width: 350px;
    }
    .token__box-title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 15px 40px 15px;
    }
    .token__box-text {
        font-size: 18px;
        line-height: 19px;
    }
    .token {
      padding-bottom: 170px;
    }
}

@media screen and (max-width: 480px) {
    .token__box-wrapper {
        padding: 0;
        max-width: 100%;
    }
    .token-phone img {
        width: 250px;
    }
    .token__box-title {
        font-size: 18px;
        line-height: 23px;
        padding: 0 15px 40px;
        padding: 48px 24px 16px;
    }
    .token__box-text {
        font-size: 18px;
        line-height: 19px;
        padding: 0 24px 16px;
    }
    .token-phone img {
        width: 250px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 364px) {
    .token__box .token-btn {
        margin-top: 0;
    }
   
    .token__box-title {
        padding-bottom: 16px;
    }
    
    .btn.btn-token {
        max-width: 110px;
    }
    .token__box {
        max-height: 351px;
    }

    .token-phone img {
        margin-top: 12px;
    }

}



